Transmission calculation Problem of BFD  

- When reporting a crash, provide a backtrace
- When pasting configs, logs, shell output, backtraces, and other large chunks of text use Markdown code blocks
- Include the FRR version; if you built from Git, please provide the commit hash
- Write your issue in English

---------------

**Describe the bug**
A clear and concise description of what the bug is.

(put "x" in "[ ]" if you already tried following)
[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?


**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
    When remote RequiredMinRxInterval is more than local desired transmission timer ,I think the  local transmission Interval is the same as the  remote RequiredMinRxInterval

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1579421/72773512-516fa200-3c42-11ea-881b-fc974ecd0c52.png)


**Versions**
 - OS Kernel: [e.g. Linux, OpenBSD, etc] [version] Centos 7.2 x64
 - FRR Version [version]    7.2

**Additional context**
Add any other context about the problem here.


Hi @sudoconf , I think you are right.

There are at least two parts of the RFC that tells us to select the larger value between those two values:

1) RFC 5880, Section 6.8.4, Calculating the Detection Time:

```
   In Asynchronous mode, the Detection Time calculated in the local
   system is equal to the value of Detect Mult received from the remote
   system, multiplied by the agreed transmit interval of the remote
   system (the greater of bfd.RequiredMinRxInterval and the last
   received Desired Min TX Interval).
```

> multiplied by the agreed transmit interval of the remote system (the **greater of bfd.RequiredMinRxInterval and the last received Desired Min TX Interval**)

2) RFC 5880, Section 6.8.7, Transmitting BFD Control Packets:

```
   With the exceptions listed in the remainder of this section, a system
   MUST NOT transmit BFD Control packets at an interval less than the
   larger of bfd.DesiredMinTxInterval and bfd.RemoteMinRxInterval, less
   applied jitter (see below).  In other words, the system reporting the
   slower rate determines the transmission rate.
```

> In other words, **the system reporting the slower rate determines the transmission rate.**

I had the impression that `remote.MinRequiredRx` mandated the minimum transmission rate, but I guess I am wrong.

Do you want to provide patches/PRs? Otherwise I can fix it as soon as I get time to test it.