Suggested change of defaults: bgp enforce-first-as

With the merge of https://github.com/FRRouting/frr/pull/2259 the global setting `bgp enforce-first-as` was deprecated and later removed. As a replacement, the `neighbor PEER enforce-first-as` command was introduced and I now documented the current state in https://github.com/FRRouting/frr/pull/14616.

However, I would like to challenge the current default (which is "disabled"):
With the exception of peering with route servers, I have never come across a use case where *not* enforcing to have the PEER's ASN contained in the first AS_PATH segment of the AS_PATH attribute would have been a good idea or a best practice setup.

IMO, [RFC 4271, Section 5.1.2](https://www.rfc-editor.org/rfc/rfc4271#section-5.1.2) does not leave much room for interpretation. There is no "should" or "may" in there either.

So my suggestion would be to change the default to "enabled" in upcoming major versions of FRR.

I also checked some of our "competitors" for reference:
* [Cisco IOS](https://www.cisco.com/c/en/us/td/docs/ios-xml/ios/iproute_bgp/command/irg-cr-book/bgp-a1.html#wp1026344430): Enabled by default
* [Arista EOS](https://www.arista.com/en/um-eos/eos-border-gateway-protocol-bgp#ariaid-title149): Enabled globally by default
* [Juniper JunOS](https://www.juniper.net/documentation/us/en/software/junos/bgp/topics/ref/statement/enforce-first-as-edit-protocols.html): Disabled by default according to a finding by [Stig](https://www.stigviewer.com/stig/juniper_router_rtr/2019-09-27/finding/V-90901)
* [Extreme SLX-OS](https://documentation.extremenetworks.com/slxos/sw/20xx/20.3.3/commands/GUID-D497F4B8-C2C6-49BE-928B-45F2391F44E8.shtml): Disabled by default

reasonable from my perspective.  Just need to make sure we are not going to cause issues for people with this change

Agree with this default change, but it might be reasonable to change this to a `traditional` profile or @donaldsharp do you think we don't care and it's a good change for any profile?

Btw, @subsecond are you going to do this change (PR/commit) or you are just proposing? Asking because if someone can take this task or not.