PIM6d: PIMv6 neighbor not going down after removing  ipv6 address from interface 

Setup:  R1------R2

Issue : On R1 side interface,  i have removed  global IPv6 address after removing PIMv6 neighbor never go down , i think this is because nbr established using link-local ip address 

I tried removing IPv4 address there nbr is getting timeout after the hold timer expired   , i think this also not correct as per RFC any change is nbr hold down with "0" should be sent and nbr should go down immediately ( RFC 4601 s4.9.2 p114 )  

Please find repro steps below

```
Initially interface has IPv6 address configured 

interface ens161.4005
 ip address 21.1.1.1/24
 ip pim
 ipv6 address 2101::1/64
 ipv6 pim
exit

PIM nbr was up 

R11(config-if)# do show ipv6 pim neighbor  ens161.4005
Interface : ens161.4005
Neighbor  : fe80::250:56ff:feb7:540f
    Uptime                         : 00:28:38
    Holdtime                       : 00:01:36
    DR Priority                    : 1
    Generation ID                  : 42ca1c18
    Override Interval (msec)       : 2500
    Propagation Delay (msec)       : 500
    Hello Option - Address List    : no
    Hello Option - DR Priority     : yes
    Hello Option - Generation ID   : yes
    Hello Option - Holdtime        : yes
    Hello Option - LAN Prune Delay : yes
    Hello Option - T-bit           : no

Now removed IPv6 global ip address 


R11(config)# interface ens161.4005
R11(config-if)#  ip address 21.1.1.1/24
R11(config-if)#  ip pim
R11(config-if)#  ipv6 address 2101::1/64
R11(config-if)# no  ipv6 address 2101::1/64


After 10min also PIM nbr is up 

R11(config-if)# do show ipv6 pim neighbor  ens161.4005
Interface : ens161.4005
Neighbor  : fe80::250:56ff:feb7:540f
    Uptime                         : 00:28:38
    Holdtime                       : 00:01:36
    DR Priority                    : 1
    Generation ID                  : 42ca1c18
    Override Interval (msec)       : 2500
    Propagation Delay (msec)       : 500
    Hello Option - Address List    : no
    Hello Option - DR Priority     : yes
    Hello Option - Generation ID   : yes
    Hello Option - Holdtime        : yes
    Hello Option - LAN Prune Delay : yes
    Hello Option - T-bit           : no



R11(config-if)# do show ipv6 pim neighbor
Interface                Neighbor    Uptime  Holdtime  DR Pri
ens161.4005       fe80::250:56ff:feb7:540f  00:38:55  00:01:19       1

```

Build - frr_8.4-dev-PR11134-g5005e01-20220712.114328-1~ubuntu18.04.1_amd64.deb
Ubuntu -18.04

Removing global ipv6 address from an interface should not be a problem in my opinion for ipv6.

The neighbors are formed used ipv6 link local address.

As per RFC 7761, Section 4.3.1
```
   Before an interface goes down or changes primary IP address, a Hello
   message with a zero HoldTime SHOULD be sent immediately (with the old
   IP address if the IP address changed).  This will cause PIM neighbors
   to remove this neighbor (or its old IP address) immediately.  After
   an interface has changed its IP address, it MUST send a Hello message
   with its new IP address.  If an interface changes one of its
   secondary IP addresses, a Hello message with an updated Address List
   option and a non-zero HoldTime SHOULD be sent immediately.  This will
   cause PIM neighbors to update this neighbor's list of secondary
   addresses immediately.
```

So here it is talking about the primary IP address change, as we can see the primary address for PIMv6 is link local address. Therefore we cannot make the neighbor down or send the HoldTIme as 0 to the neighbor since there is no change in the link local address. The same RFC also talks about the primary address as below:

```
neighbor.primary_ip_address
            The IP address that the PIM neighbor used as the source
            address of the Hello message.
```

If there is any more doubts on this, we can discuss further or else I will close this issue.

Closing this as this is not an issue.