Querier to non-querier transition should not happen during  "last Member Query Interval*Query count"  

Problem :

IGMPv2 conformance testcase 3.10 ,  Anvl trying to send lower-ip querier packet to DUT when "last Member Query Interval*Query count"  timer is running , DUT accept lower-ip packet and change the querier ., but as per RFC it should ignore the transition during this time , below is RFC section details 

```
As per RFC 2236 section 3  https://datatracker.ietf.org/doc/html/rfc2236#section-3

    When a Querier receives a Leave Group message for a group that has
   group members on the reception interface, it sends [Last Member Query
   Count] Group-Specific Queries every [Last Member Query Interval] to
   the group being left.  These Group-Specific Queries have their Max
   Response time set to [Last Member Query Interval].  If no Reports are
   received after the response time of the last query expires, the
   routers assume that the group has no local members, as above.  Any
   Querier to non-Querier transition is ignored during this time; the
   same router keeps sending the Group-Specific Queries.
```
Test steps :
1. DUT: Multicast a general query on 2 interfaces.
2. ANVL: As a host multicast an IGMP v2 report on 1 interface.
3. DUT: Multicast a general query after QUERY_INTERVAL.
4. ANVL: As another host multicast an IGMP v2 report on 2nd interface.
5. ANVL: As a host multicast a Leave Group message on 2nd interface.
6. DUT: Multicast a Group-Specific query on 2nd interface.
7. ANVL: Verify the Max Response Time = LAST_MEMBER_QUERY-
_INTERVAL.
8. ANVL: As a router multicast a query with lower IP address on second interface.

Expected behavior :

DUT should ignore querier transition during  "last Member Query Interval*Query count"  

Version 
FRR version 8.0 
 Ubuntu 18.04 kernel 4.18 



I have checked this issue. As per RFC the transition from querier to non-querier should not happen during the "last Member Query Interval*Query count" time and the same router needs to keep on sending the Query during this period. The current querier is transitioning to the non-querier but the same router is sending the remaining queries when a Leave message is received.