libyang Invalid keyword "type" as a child to "annotation"

frr7.5 ,i run bgpd ospf rip also encounter errors:
what's wrong , thanks.


libyang Invalid keyword "type" as a child to "annotation"

ly_ctx_new ............. NO LY_CTX_NOYANGLIBRARY
modules :




IETF NETMOD (NETCONF Data Modeling Language) Working Group


WG Web: <https://datatracker.ietf.org/wg/netmod/>

WG List: <mailto:netmod@ietf.org>

WG Chair: Lou Berger
<mailto:lberger@labn.net>

WG Chair: Kent Watsen
<mailto:kwatsen@juniper.net>

Editor: Ladislav Lhotka
<mailto:lhotka@nic.cz>


This YANG module defines an 'extension' statement that allows
for defining metadata annotations.

Copyright (c) 2016 IETF Trust and the persons identified as
authors of the code. All rights reserved.

Redistribution and use in source and binary forms, with or
without modification, is permitted pursuant to, and subject to
the license terms contained in, the Simplified BSD License set
forth in Section 4.c of the IETF Trust's Legal Provisions
Relating to IETF Documents
(http://trustee.ietf.org/license-info).

This version of this YANG module is part of RFC 7952
(http://www.rfc-editor.org/info/rfc7952); see the RFC itself
for full legal notices.



Initial revision.


RFC 7952: Defining and Using Metadata with YANG





This extension allows for defining metadata annotations in
YANG modules. The 'md:annotation' statement can appear only
at the top level of a YANG module or submodule, i.e., it
becomes a new alternative in the ABNF production rule for
'body-stmts' (Section 14 in RFC 7950).

The argument of the 'md:annotation' statement defines the name
of the annotation. Syntactically, it is a YANG identifier as
defined in Section 6.2 of RFC 7950.

An annotation defined with this 'extension' statement inherits
the namespace and other context from the YANG module in which
it is defined.

The data type of the annotation value is specified in the same
way as for a leaf data node using the 'type' statement.

The semantics of the annotation and other documentation can be
specified using the following standard YANG substatements (all
are optional): 'description', 'if-feature', 'reference',
'status', and 'units'.

A server announces support for a particular annotation by
including the module in which the annotation is defined among
the advertised YANG modules, e.g., in a NETCONF <hello>
message or in the YANG library (RFC 7950). The annotation can
then be attached to any instance of a data node defined in any
YANG module that is advertised by the server.

XML encoding and JSON encoding of annotations are defined in
RFC 7952.


format : 2
modules :








libyang


Web: <https://github.com/CESNET/libyang/>
Author: Radek Krejci <rkrejci@cesnet.cz>


This is a kind of fake model with no data, typedefs or anything
else. libyang uses this module to implement various YANG attributes
defined in RFC 6020.



Added metadata for NETCONF's edit-config manipulation with ordered
lists and leaf-lists.


RFC 7950: The YANG 1.1 Data Modeling Language




Initial revision


RFC 6020: YANG - A Data Modeling Language for
the Network Configuration Protocol (NETCONF)


<md:annotation name="insert">







RFC7950 section 7.8.6. and section 7.7.9.


In user ordered leaf-list, the attribute can be used to control
where in the leaf-list the entry is inserted. It can be used during
the NETCONF <edit-config> "create" operations to insert a new list or
leaf-list entry, or during "merge" or "replace" operations to insert
a new list or leaf-list entry or move an existing one.

If the value is "before" or "after", the "value"/"key" attribute
MUST also be used to specify an existing entry in the list or leaf-list.

If no "insert" attribute is present in the "create" operation, it
defaults to "last".

</md:annotation>
<md:annotation name="value">


RFC7950 section 7.7.9.


In user ordered leaf-list, the attribute must be used if the attribute
insert is used and specifies before/after which existing instance the
new instance should be inserted.

</md:annotation>
<md:annotation name="key">


RFC7950 section 7.8.6.


In user ordered list, the attribute must be used if the attribute
insert is used and specifies before/after which existing instance the
new instance should be inserted.

</md:annotation>

format : 2
1970/01/01 00:01:57 ZEBRA: libyang: Invalid keyword "type" as a child to "annotation". (/)
1970/01/01 00:01:57 ZEBRA: libyang: Module "yang" parsing failed.
ly_ctx_new ............. error
1970/01/01 00:01:57 ZEBRA: [EC 100663342] yang_init: ly_ctx_new() failed

@polychaeta bad-report

When filing a bug report, please:

- Describe the expected behavior
-Describe the observed behavior

Please be sure provide:

- FRR version
- OS distribution (e.g. Fedora, OpenBSD)
- Kernel version (e.g. Linux 5.4)

Neglecting to provide this information makes your issue difficult to address.

@polychaeta autoclose 2 months

@polychaeta autoclose in 2 months