MPLS on Linux - traceroute ttl propagation

Hello,

I'm currently facing some sort of issue when playing around in a testlab with FRRouting in conjunction with MPLS. I've configured OSPF as IGP between three routers in a star topology:

Core - r1|r2

LDP is configured and working, I'm seeing the MPLS labels distributed across the entire topology. I've attached linux servers to each `r1` and `r2` and further did some testing. I noticed that the traffic is indeed being label-switched on `Core` from `r1` to `r2`, however, there's some issue with `traceroute`:

    Host                  Loss%   Snt   Last   Avg  Best  Wrst StDev
     1. r1                 0.0%   319    0.2   0.2   0.2   0.5   0.0
     2. ???
     3. r2                 0.0%   319    0.5   0.4   0.3   1.5   0.1
     4. <server2>          0.0%   318    0.7   0.8   0.5   5.2   0.2


While `Core` is fully able to reach both servers, in a traceroute when MPLS is used to reach another destination, `Core` always disappears and yields timeouts.

I've taken a line capture of traffic, however, I don't seem to be able to find any packets targeting or originating to/from `Core` to the server running the traceroute ( in that case, `mtr` ).

OS: Ubuntu 17.10
Kernel: 4.13.0-16-generic

Parameters:
net.mpls.ip_ttl_propagate=1
net.mpls.default_ttl=255

Due to the fact I want to have the LSRs being visible in a traceroute I'm propagating TTL.

Hi Florian,

Good question. I did some investigation and found out that the problem lies in the Linux kernel.

Please check this out: https://github.com/torvalds/linux/blob/v4.13/net/mpls/af_mpls.c#L374-L376

When trying to forward a labeled packets whose TTL is invalid (0 or 1), the kernel just drops it instead of sending an `ICMP Time Exceeded` message.

If you setup a line topology with 10 Linux/FRR routers and configure OSPF/LDP on all of them, this is what you will get if you try to traceroute one endpoint to the other:
```
# traceroute -n -q 1 192.168.0.9
traceroute to 192.168.0.9 (192.168.0.9), 30 hops max, 60 byte packets
 1  *
 2  *
 3  *
 4  *
 5  *
 6  *
 7  *
 8  *
 9  192.168.0.9  0.042 ms
```

It's worth mentioning that handling expired TTLs in MPLS networks in kind of tricky because an LSR might not have enough information to send an ICMP packet back to the originator. Examples of this are core LSRs in a BGP-free core MPLS network and L3VPNs. To solve this problem, most implementations provide an option to tunnel the generated `ICMP Time Exceeded` packet towards the destination of the expired packet in the hope that it will route it back to the originator. Since implementing this might not be trivial, that's probably why this feature wasn't implemented in the kernel yet.

I think the technique to return the ICMP packets by simply sending them towards the LER on the other side is also called ICMP Tunnelling in Cisco and Juniper Routers. I'm currently considering how this could be implemented in the lines you've mentioned.

I think the steps required to implement this in the Linux kernel would be something like this:
* once the TTL of the label has expired, verify if the payload is an IP packet. This involves some guesswork as there's no "correct" way to do this. What most implementations do is to check the first nibble beyond the label stack and if its value is 4 or 6 assume the payload is an IP packet;
* if we think the payload is not an IP packet (e.g. a pseudowire ethernet frame), then just silently drop the packet;
* otherwise generate a normal `ICMP Time Exceeded` packet destined to the packet originator, but forward it along the LSP towards the original destination;
* hope that the router at the end of the LSP will route the ICMP packet back to the originator.

The MPLS Fundamentals book has a chapter named "TTL Behavior of Labeled Packets" which is very informative on the topic.

I'm closing the issue because there's nothing we can do about it in FRR. Please feel free to reopen it later if necessary.

> Hi Florian,
> 
> Good question. I did some investigation and found out that the problem lies in the Linux kernel.
> 
> Please check this out: https://github.com/torvalds/linux/blob/v4.13/net/mpls/af_mpls.c#L374-L376
> 
> When trying to forward a labeled packets whose TTL is invalid (0 or 1), the kernel just drops it instead of sending an `ICMP Time Exceeded` message.
> 
> If you setup a line topology with 10 Linux/FRR routers and configure OSPF/LDP on all of them, this is what you will get if you try to traceroute one endpoint to the other:
> 
> ```
> # traceroute -n -q 1 192.168.0.9
> traceroute to 192.168.0.9 (192.168.0.9), 30 hops max, 60 byte packets
>  1  *
>  2  *
>  3  *
>  4  *
>  5  *
>  6  *
>  7  *
>  8  *
>  9  192.168.0.9  0.042 ms
> ```
> 
> It's worth mentioning that handling expired TTLs in MPLS networks in kind of tricky because an LSR might not have enough information to send an ICMP packet back to the originator. Examples of this are core LSRs in a BGP-free core MPLS network and L3VPNs. To solve this problem, most implementations provide an option to tunnel the generated `ICMP Time Exceeded` packet towards the destination of the expired packet in the hope that it will route it back to the originator. Since implementing this might not be trivial, that's probably why this feature wasn't implemented in the kernel yet.

this happens In frr 7.4 , is there any way to make trace path clear while using frr as ingress pe?

> I think the technique to return the ICMP packets by simply sending them towards the LER on the other side is also called ICMP Tunnelling in Cisco and Juniper Routers. I'm currently considering how this could be implemented in the lines you've mentioned.

This technique is proposed in RFC 3032, §2.3.