Support of Address Families in OSPFv3 (RFC 5838)

It would have been very nice if [RFC 5838](https://tools.ietf.org/html/rfc5838) *Support of Address Families in OSPFv3* was supported by `ospf6d`.

The rationale for wanting this feature is essentially the same as for the already implemented *[BGP unnumbered](https://cumulusnetworks.com/blog/bgp-unnumbered-overview/)* support ([RFC 5549](https://tools.ietf.org/html/rfc5549)).

That is, it facilitates a network topology where the inter-router links do not need manual address assignment (cf. [RFC 7404](https://tools.ietf.org/html/rfc7404)). IGP adjacencies and next-hops instead use omnipresent and automatically configured IPv6 link local addresses.

Furthermore, it would obviate the current need to run two separate IGP instances in parallel within a dual-stacked autonomous system (OSPFv2 for IPv4 and OSPFv3 for IPv6). This reduces complexity and the number of possible failure cases. (It might be possible to use IS-IS in favour of OSPFv2/3 to achieve the same outcome, but IS-IS is unfortunately [not supported by my NOS vendor](https://docs.cumulusnetworks.com/cumulus-linux-42/Layer-3/Configuring-FRRouting/#configure-frrouting).)

Closing this as I just realised that there is a wiki page with feature wishlist, where this is already mentioned: https://github.com/FRRouting/frr/wiki/Feature-Requests