BGP  blackhole community

<!--

*** ATTENTION ***

YOU MUST READ THIS TO HAVE YOUR ISSUE ADDRESSED

PLEASE READ AND FILL OUT THIS TEMPLATE

NEGLECTING TO PROVIDE INFORMATION REQUESTED HERE WILL RESULT IN
SIGNIFICANT DELAYS ADDRESSING YOUR ISSUE

ALWAYS PROVIDE:
- FRR VERSION
- OPERATING SYSTEM VERSION
- KERNEL VERSION

FAILURE TO PROVIDE THIS MAY RESULT IN YOUR ISSUE BEING IGNORED

FOLLOW THESE GUIDELINES:

- When reporting a crash, provide a backtrace
- When pasting configs, logs, shell output, backtraces, and other large chunks
  of text, surround this text with triple backtics

  ```
  like this
  ```

- Include the FRR version; if you built from Git, please provide the commit
  hash
- Write your issue in English

-->

---------------

**Describe the bug**

Issue with the blackhole community (RFC 7999)  

linux# show version
FRRouting 7.6-dev-MyOwnFRRVersion-gf32fc9907 (linux).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
This is a git build of frr-7.4-dev-1320-gf32fc9907

1)  CLI command "set community does not display "blackhole" option but configuration is accepted

linux(config)# route-map map1 permit 1
linux(config-route-map)# set community
  AA:NN  Community number in AA:NN format (where AA and NN are (0-65535)) or local-AS|no-advertise|no-export|internet or additive
  none   No community attribute

2) When prefix is advertised by the bgp peer with the outbound routemap containing "set community blackhole" configuration,  the route is advertised with the blackhole community  but the receiving peer does not add NO_ADVERTISE or NO_EXPORT community ( as mentioned in RC 7999  Section 3.2 )

 
**To Reproduce**

Configuration and logs in the attached file
[bgp_community.txt](https://github.com/FRRouting/frr/files/5819637/bgp_community.txt)

**Expected behavior**

The peer receiving route with the blackhole community should add NO_ADVERTISE or NO_EXPORT community

**Screenshots**

**Versions**

FRRouting 7.6-dev-MyOwnFRRVersion-gf32fc9907 (linux).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
This is a git build of frr-7.4-dev-1320-gf32fc9907


**Additional context**



@kssoman could you test with the latest master?

> @kssoman could you test with the latest master?

       R1  ----------------------------  R2 --------------------------  R3
                    ebgp                              ibgp

Observed the following :

1)  When the community NO-ADVERTISE is added to routes received in router R2  from  router R1,  the route gets advertised to router R3

2)  When the community blackhole is added to routes advertised from router R1,  the NO-ADVERTISE community gets added to the route in router R2  but the route is not advertised to router R3

Since router R2 is adding NO-ADVERTISE community,  the probable behavior should be to advertise route to router R3 and router R3 should not advertise the route further,  please confirm it this is correct.

Please find the logs in the attached file
[bgp_test_logs.txt](https://github.com/FRRouting/frr/files/5861709/bgp_test_logs.txt)


```
   A BGP speaker receiving an announcement tagged with the BLACKHOLE
   community SHOULD add the NO_ADVERTISE or NO_EXPORT community as
   defined in [RFC1997], or a similar community, to prevent propagation
   of the prefix outside the local AS.  The community to prevent
   propagation SHOULD be chosen according to the operator's routing
   policy.
```
RFC says `to prevent propagation of the prefix outside the local AS`. That means, that only eBGP peers are affected. If I understand RFC correctly.

> ```
>    A BGP speaker receiving an announcement tagged with the BLACKHOLE
>    community SHOULD add the NO_ADVERTISE or NO_EXPORT community as
>    defined in [RFC1997], or a similar community, to prevent propagation
>    of the prefix outside the local AS.  The community to prevent
>    propagation SHOULD be chosen according to the operator's routing
>    policy.
> ```
> 
> RFC says `to prevent propagation of the prefix outside the local AS`. That means, that only eBGP peers are affected. If I understand RFC correctly.

Since routers R2 and R3  are in same AS , R3 should get the route, this behavior is observed when  NO-ADVERTISE is applied to incoming routes on router R2 as  mentioned in case (1) above

I'll check this and add a test case.

@kssoman can you test this https://github.com/FRRouting/frr/pull/7922?

@kssoman changing no-advertise to no-export would solve that as well.

Verified by @kssoman. Talked in Slack. 