evpn/vxlan problem with installing nlri route type 2 after installing new frr

**Describe the bug**

Problem was happened after update frr from 7.4 to [7.5.1 and greater including 8.0.1].  
Some evpn type2 routes installed normaly, but they are didn not work.

[x] Did you check if this is a duplicate issue?
[x] Did you test it on the latest FRRouting/frr master branch?

**To Reproduce**

1. You need to configure loopback address, at least one ethernet interface (we use eth2), also you need to configure at least one vxlan interface (in that case is 100013) as slave bridge vmbr100013
```
auto lo
iface lo inet loopback
        address 100.100.101.1/32
```
```
auto eth2
iface eth2 inet static
        address 100.84.41.2/30
        txqueuelen 10000
        mtu 9216
        post-up /usr/sbin/ethtool -G eth2 rx 8192 tx 8192
```
```
auto vxlan100013
iface vxlan100013 inet static
        vxlan-id 100013
        vxlan-local-tunnelip 100.100.101.1
        bridge-learning off
        bridge-arp-nd-suppress on
        bridge-unicast-flood off
        bridge-multicast-flood off
        mtu 9000
```
```
auto vmbr100013
iface vmbr100013 inet static
        bridge_ports vxlan100013
        bridge_stp off
        bridge_fd 0
        address 10.0.5.3/24
        ip-forward on
        ip6-forward off
        arp-accept on
        mtu 9000
```

2. Overlay and underlay network builded by using BGP only (external for underlay, internal for overlay)
```
frr version 8.0.1
frr defaults datacenter
hostname npve-n3
log file /var/log/frr.log
log stdout
log syslog
no ipv6 forwarding
service integrated-vtysh-config
!
debug zebra vxlan
debug bgp keepalives
debug bgp neighbor-events
debug bgp updates in
debug bgp updates out
!
ip router-id 100.100.101.1
!
router bgp 65000
 bgp router-id 100.100.101.1
 bgp ebgp-requires-policy
 no bgp default ipv4-unicast
 no bgp default show-hostname
 no bgp default show-nexthop-hostname
 no bgp deterministic-med
 coalesce-time 1000
 bgp bestpath as-path multipath-relax
 timers bgp 30 90
 neighbor evpn peer-group
 neighbor evpn remote-as 65000
 neighbor evpn update-source 100.100.101.1
 neighbor evpn timers connect 120
 neighbor und-leaf peer-group
 neighbor und-leaf local-as 65101 no-prepend replace-as
 neighbor und-leaf timers connect 120
 neighbor 100.100.100.41 peer-group evpn
 neighbor 100.100.100.42 peer-group evpn
 neighbor 100.84.41.1 remote-as 65041
 neighbor 100.84.41.1 peer-group und-leaf
 !
 address-family ipv4 unicast
  redistribute connected
  neighbor und-leaf activate
  neighbor und-leaf as-override
  neighbor und-leaf soft-reconfiguration inbound
  neighbor und-leaf route-map und-leaf-in in
  neighbor und-leaf route-map und-leaf-out out
 exit-address-family
 !
 address-family l2vpn evpn
  neighbor evpn activate
  advertise-all-vni
  autort rfc8365-compatible
  advertise-svi-ip
  dup-addr-detection freeze 900
  advertise ipv4 unicast
  rd 100.100.101.1:1
  route-target export 65000:1
 exit-address-family
!
ip prefix-list pfx-any seq 10 permit 0.0.0.0/0 le 32
ip prefix-list pfx-evpn-osd seq 10 permit 100.100.102.0/24 ge 32
ip prefix-list pfx-evpn-qfx seq 10 permit 100.100.100.0/24 ge 32
ip prefix-list pfx-evpn-srv seq 10 permit 100.100.101.0/24 ge 32
ip prefix-list pfx-lb seq 10 permit 100.100.101.1/32
!
route-map und-leaf-out permit 10
 match ip address prefix-list pfx-lb
!
route-map und-leaf-out deny 100
 match ip address prefix-list pfx-any
!
route-map und-leaf-in permit 10
 match ip address prefix-list pfx-evpn-qfx
!
route-map und-leaf-in permit 20
 match ip address prefix-list pfx-evpn-srv
!
route-map und-leaf-in permit 30
 match ip address prefix-list pfx-evpn-osd
!
route-map und-leaf-in deny 100
 match ip address prefix-list pfx-any
!
line vty
!
```
2. As the route-reflectors  we are using Juniper QFX5120-48Y (20.2R3-S2) that had addresss 100.100.100.41 and 100.100.100.42
```
# show interfaces et-0/0/33 | display set 
set interfaces et-0/0/33 unit 0 family inet address 100.84.41.1/30

# show protocols bgp group und-leaf | display inheritance  | display set              
set protocols bgp group und-leaf type external
set protocols bgp group und-leaf local-as 65041
set protocols bgp group und-leaf multipath multiple-as
set protocols bgp group und-leaf neighbor 100.84.41.2 peer-as 65101

# show protocols bgp group evpn | display inheritance | display set 
set protocols bgp group evpn type internal
set protocols bgp group evpn local-address 100.100.100.41
set protocols bgp group evpn family evpn signaling
set protocols bgp group evpn cluster 41.41.41.41
set protocols bgp group evpn neighbor 100.100.100.11
set protocols bgp group evpn neighbor 100.100.100.12
set protocols bgp group evpn neighbor 100.100.100.21
set protocols bgp group evpn neighbor 100.100.100.22
set protocols bgp group evpn neighbor 100.100.100.31
set protocols bgp group evpn neighbor 100.100.100.42
set protocols bgp group evpn neighbor 100.100.100.32
set protocols bgp group evpn neighbor 100.100.101.1

# show vlans v13 | display set 
set vlans v13 vlan-id 13
set vlans v13 l3-interface irb.13
set vlans v13 vxlan vni 100013

# show interfaces irb.13 | display s
set interfaces irb unit 13 virtual-gateway-accept-data
set interfaces irb unit 13 family inet address 10.0.5.41/24 preferred
set interfaces irb unit 13 family inet address 10.0.5.41/24 virtual-gateway-address 10.0.5.1
set interfaces irb unit 13 virtual-gateway-v4-mac 00:00:01:00:00:13
```
3. For testing porposes and simplicty reproduces this bug we create a VGA interface irb.13 and assing 10.0.5.1 adrress as the default gateway.
4. Now we sucsess pinging address 10.0.5.41, 10.0.5.42 but address 10.0.5.1 is not responding for icmp echos. But when we are using frr 7.4 address 10.0.5.1 is responing as well as 10.0.5.41 and 10.0.5.42. 
5. We try to look at installed routes and installed mac everything seems to be good. 
```
root@npve-n3:~# ip neigh show | grep 10.0.5\.
10.0.5.2 dev vmbr100013 lladdr 02:8c:ef:e1:89:87 extern_learn  NOARP proto zebra
10.0.5.156 dev vmbr100013  FAILED
10.0.5.22 dev vmbr100013 lladdr 00:c5:2c:8b:58:c0 extern_learn  NOARP proto zebra
10.0.5.43 dev vmbr100013  FAILED
10.0.5.11 dev vmbr100013 lladdr 00:c5:2c:8b:49:c0 extern_learn  NOARP proto zebra
10.0.5.31 dev vmbr100013 lladdr 00:c5:2c:8b:30:c0 extern_learn  NOARP proto zebra
10.0.5.23 dev vmbr100013  FAILED
10.0.5.44 dev vmbr100013  FAILED
10.0.5.32 dev vmbr100013 lladdr 00:c5:2c:8a:bd:c0 extern_learn  NOARP proto zebra
10.0.5.12 dev vmbr100013 lladdr 00:c5:2c:8a:04:c0 extern_learn  NOARP proto zebra
10.0.5.41 dev vmbr100013 lladdr 00:c5:2c:8c:39:c0 extern_learn  NOARP proto zebra
10.0.5.45 dev vmbr100013  FAILED
10.0.5.1 dev vmbr100013 lladdr 00:00:01:00:00:13 extern_learn  NOARP proto zebra
10.0.5.21 dev vmbr100013 lladdr 00:c5:2c:8c:16:c0 extern_learn  NOARP proto zebra
10.0.5.42 dev vmbr100013 lladdr 00:c5:2c:8a:18:c0 extern_learn  NOARP proto zebra
10.0.5.50 dev vmbr100013 lladdr fa:a3:37:f5:d2:a5 extern_learn  NOARP proto zebra
```
6. Then we decided to dump traffic on vmbr100013 interface and eth2 interface and we see that on vmbr100013 interface  icmp echos request is present for adresses 10.0.5.1 also, but we do not see the same on eth2 (there is no encapsulated icmp echos for 10.0.5.1, but present for 10.0.5.41 and 10.0.5.42) 
7. First we run `tcpdump -ni vmbr100013 icmp -s 1500 -w vmbr100013.pcap` and then ` tcpdump -ni eth2 'port 4789 and udp[8:2] = 0x0800 & 0x0800 and udp[11:4] = 100013 & 0x00FFFFFF' -s 1500 -w eth2.pcap` [pcap.zip](https://github.com/FRRouting/frr/files/7513607/pcap.zip)
```
root@npve-n3:~# ping 10.0.5.41 -c 10 -i0.3
PING 10.0.5.41 (10.0.5.41) 56(84) bytes of data.
64 bytes from 10.0.5.41: icmp_seq=1 ttl=64 time=23.1 ms
64 bytes from 10.0.5.41: icmp_seq=2 ttl=64 time=4.30 ms
64 bytes from 10.0.5.41: icmp_seq=3 ttl=64 time=20.2 ms
64 bytes from 10.0.5.41: icmp_seq=4 ttl=64 time=7.02 ms
64 bytes from 10.0.5.41: icmp_seq=5 ttl=64 time=4.77 ms
64 bytes from 10.0.5.41: icmp_seq=6 ttl=64 time=2.44 ms
64 bytes from 10.0.5.41: icmp_seq=7 ttl=64 time=3.94 ms
64 bytes from 10.0.5.41: icmp_seq=8 ttl=64 time=16.9 ms
64 bytes from 10.0.5.41: icmp_seq=9 ttl=64 time=4.76 ms
64 bytes from 10.0.5.41: icmp_seq=10 ttl=64 time=6.00 ms

--- 10.0.5.41 ping statistics ---
10 packets transmitted, 10 received, 0% packet loss, time 2707ms
rtt min/avg/max/mdev = 2.440/9.338/23.086/7.239 ms

root@npve-n3:~# ping 10.0.5.42 -c 10 -i0.3
PING 10.0.5.42 (10.0.5.42) 56(84) bytes of data.
64 bytes from 10.0.5.42: icmp_seq=1 ttl=64 time=2.23 ms
64 bytes from 10.0.5.42: icmp_seq=2 ttl=64 time=12.7 ms
64 bytes from 10.0.5.42: icmp_seq=3 ttl=64 time=2.10 ms
64 bytes from 10.0.5.42: icmp_seq=4 ttl=64 time=1.48 ms
64 bytes from 10.0.5.42: icmp_seq=5 ttl=64 time=18.9 ms
64 bytes from 10.0.5.42: icmp_seq=6 ttl=64 time=6.53 ms
64 bytes from 10.0.5.42: icmp_seq=7 ttl=64 time=1.02 ms
64 bytes from 10.0.5.42: icmp_seq=8 ttl=64 time=63.1 ms
64 bytes from 10.0.5.42: icmp_seq=9 ttl=64 time=7.37 ms
64 bytes from 10.0.5.42: icmp_seq=10 ttl=64 time=7.46 ms

--- 10.0.5.42 ping statistics ---
10 packets transmitted, 10 received, 0% packet loss, time 2706ms
rtt min/avg/max/mdev = 1.024/12.284/63.062/17.753 ms

root@npve-n3:~# ping 10.0.5.1 -c 10 -i0.3
PING 10.0.5.1 (10.0.5.1) 56(84) bytes of data.

--- 10.0.5.1 ping statistics ---
10 packets transmitted, 0 received, 100% packet loss, time 2886ms
```
8. Created interface irb.13 is simply way to reproduce the bug. But we have a more complex setup with other host, which also had a similar problem with connectivity.

**Screenshots**
![image](https://user-images.githubusercontent.com/94057122/141137604-c9dd5e92-f990-409c-a56e-1289ce69fb80.png)

**Versions**
 - OS Version: Debian 11
 - Kernel: 5.11.22-5-pve
 - FRR Version: 8.0.1


Can you provide the output of the following:
```
sudo vtysh -c 'show evpn mac vni 100013 mac 00:00:01:00:00:13'
sudo vtysh -c 'show evpn arp-cache vni 100013 ip 10.0.5.1'
sudo vtysh -c 'show bgp l2vpn evpn route | grep -A3 00:00:01:00:00:13'
sudo vtysh -c 'show bgp l2vpn evpn route vni 100013 | grep -A3 00:00:01:00:00:13'
bridge fdb show | grep 00:00:01:00:00:13
ip route show
```

> Can you provide the output of the following:
> 
> ```
> sudo vtysh -c 'show evpn mac vni 100013 mac 00:00:01:00:00:13'
> sudo vtysh -c 'show evpn arp-cache vni 100013 ip 10.0.5.1'
> sudo vtysh -c 'show bgp l2vpn evpn route | grep -A3 00:00:01:00:00:13'
> sudo vtysh -c 'show bgp l2vpn evpn route vni 100013 | grep -A3 00:00:01:00:00:13'
> bridge fdb show | grep 00:00:01:00:00:13
> ip route show
> ```

```
root@npve-n3:~# vtysh -c 'show evpn mac vni 100013 mac 00:00:01:00:00:13'
MAC: 00:00:01:00:00:13
 Remote ES: 05:00:00:fd:e8:00:01:86:ad:00
 Sync-info: neigh#: 0
 Local Seq: 0 Remote Seq: 0
 Uptime: 03:29:12
 Neighbors:
    10.0.5.1 Active
```
```
root@npve-n3:~# vtysh -c 'show evpn arp-cache vni 100013 ip 10.0.5.1'
IP: 10.0.5.1
 Type: remote
 State: active
 Uptime: 03:29:17
 MAC: 00:00:01:00:00:13
 Sync-info: -
 Remote ES: 05:00:00:fd:e8:00:01:86:ad:00
 Local Seq: 0 Remote Seq: 0
 ```
 ```
root@npve-n3:~# vtysh -c 'show bgp l2vpn evpn route' | grep -A3 00:00:01:00:00:13
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00 VNI: 0
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00 VNI: 0
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00 VNI: 0
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00 VNI: 0
                    RT:65000:268535469 ET:8
--
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00 VNI: 0
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00 VNI: 0
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00 VNI: 0
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00 VNI: 0
                    RT:65000:268535469 ET:8
```
```
root@npve-n3:~# vtysh -c 'show bgp l2vpn evpn route vni 100013' | grep -A3 00:00:01:00:00:13
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
```
```
root@npve-n3:~# bridge fdb show | grep 00:00:01:00:00:13
```
```
root@npve-n3:~# ip route show
default via 10.0.4.1 dev eth3
10.0.4.0/24 dev eth3 proto kernel scope link src 10.0.4.3
10.0.5.0/24 dev vmbr100013 proto kernel scope link src 10.0.5.3
100.84.41.0/30 dev eth2 proto kernel scope link src 100.84.41.2
100.84.42.0/30 dev eth3 proto kernel scope link src 100.84.42.2
100.100.100.41 nhid 14 via 100.84.41.1 dev eth2 proto bgp metric 20
100.100.100.42 nhid 14 via 100.84.41.1 dev eth2 proto bgp metric 20
100.100.101.2 nhid 14 via 100.84.41.1 dev eth2 proto bgp metric 20
192.168.100.0/24 dev vmbr5100 proto kernel scope link src 192.168.100.99
```

additional info comparing output of two version
**FRR 7.4**
` vtysh -c 'show evpn arp-cache vni 100013 ip 10.0.5.1'`
```
IP: 10.0.5.1
 Type: remote
 State: active
 MAC: 00:00:01:00:00:13
 Remote VTEP: 100.100.100.41
 Local Seq: 0 Remote Seq: 0
```

**FRR 8.0.1**
`root@npve-n3:~# vtysh -c 'show evpn arp-cache vni 100013 ip 10.0.5.1'`
```IP: 10.0.5.1
 Type: remote
 State: active
 Uptime: 05:41:55
 MAC: 00:00:01:00:00:13
 Sync-info: -
 Remote ES: 05:00:00:fd:e8:00:01:86:ad:00
 Local Seq: 0 Remote Seq: 0
```


I suspect the issue is that your kernel doesn't support nexthop-groups and so the fdb installation is failing when running FRR 8.

The Type 2 route is being originated with a non-zero ESI, meaning the Juniper is doing EVPN Multihoming and the mac should be installed via an L2 nexthop-group.

EVPN-MH wasn't supported in 7.4 and on that release we see the route originated by the juniper was getting installed via the next-hop (which doesn't need a new kernel) instead of via the NHG (which does need a new kernel).

I see debian and "pve" in the kernel release, so I'm guessing that means you're running proxmox.  There should be a newer backport kernel that you can install. Can you give that a try with FRR 8?

> I see debian and "pve" in the kernel release, so I'm guessing that means you're running proxmox. There should be a newer backport kernel that you can install. Can you give that a try with FRR 8?

I was try the latest availible kernel 5.13.19-1-pve but problem still exists. Could you provide me informatioan about the kernel version that i should to use.

also try on kernel version 5.15.0-trunk-amd64  pure debian and no luck

I looked up at `zebra_vxlan.c` to the function  `zebra_rib_queue_evpn_rem_macip_add`  and decide to enable `debug zebra rib detail`, and after that I reset bgp sessions, and wait some time until sessions was established. Here below attached a log file for the short period of time. Probably that log can help solve the issue.

[frr.log.txt](https://github.com/FRRouting/frr/files/7523780/frr.log.txt)
 

Also tested new FRR 8.1, but problem still exists

The individual I worked with on their EVPN-on-Proxmox setup was using the following:
```
Linux kernel 5.11.17-1
ifupdown2 3.0.0-1+pve3 (need proxmox version so ifreload doesn't delete tap interfaces enslaved to the bridge)
FRR 8.0-0
iproute2 4.20.0-2
python-nlmanager 1.0.0
mgmt-vrf and vrf 1.3
```

I would start by just installing the newer kernel + iproute2 and see if that works with your current setup.

> I would start by just installing the newer kernel + iproute2 and see if that works with your current setup.

Thank you. I appreciate that, and will wait for news.
If you need access to our lab please feel free to contact about it. 

@taspelund Do you have aby updates?

The data we have shows the type 2 is accepted by BGP and installed into zebra via a remote multihoming ES.

Did you try the newer kernel as suggested? Like I mentioned before, it looks to me like the issue is with the kernel in use not supporting nexthop-groups.

> The data we have shows the type 2 is accepted by BGP and installed into zebra via a remote multihoming ES.
> 
> Did you try the newer kernel as suggested? Like I mentioned before, it looks to me like the issue is with the kernel in use not supporting nexthop-groups.
sure, we trayed the latest kernel form repository
we used the latest kernel from repository, but with no luck. tomorrow I will try to build new kernel from the sources, could you tell me which kernel options should be enabled (or required options are enabled by default). I'm going to use 5.16.1 (latest kernel.org)


I don't know what compile options are needed for NHG support. @sworleys any chance you know what kernel requirements there are for NHGs?

defines:
```
#define ZEBRA_NHT_DELETED            0x2
#define DEL_REMOTE_MAC_FROM_VTEP     0x4
#define ROUTE_ENTRY_INSTALLED        0x10
#define ROUTE_ENTRY_FAILED           0x20

```
some logs


```
Jan 17 18:18:45 npve-2 zebra[3493]: [KKAC1-JMWTB] Rx RTM_NEWNEIGH family ipv4 IF vmbr100013(11) vrf default(0) IP 10.0.5.50 MAC fa:a3:37:f5:d2:a5 state 0x2 flags 0x0 ext_flags 0x0
Jan 17 18:19:08 npve-2 zebra[3493]: [KKAC1-JMWTB] Rx RTM_NEWNEIGH family ipv4 IF vmbr100013(11) vrf default(0) IP 10.0.5.50 MAC fa:a3:37:f5:d2:a5 state 0x4 flags 0x0 ext_flags 0x0
Jan 17 18:19:14 npve-2 zebra[3493]: [KKAC1-JMWTB] Rx RTM_NEWNEIGH family ipv4 IF vmbr100013(11) vrf default(0) IP 10.0.5.50 MAC fa:a3:37:f5:d2:a5 state 0x10 flags 0x0 ext_flags 0x0
Jan 17 18:19:17 npve-2 zebra[3493]: [KKAC1-JMWTB] Rx RTM_NEWNEIGH family ipv4 IF vmbr100013(11) vrf default(0) IP 10.0.5.50 MAC  state 0x20 flags 0x0 ext_flags 0x0
Jan 17 18:19:17 npve-2 zebra[3493]: [T1FWP-9STQ7] zebra_vxlan_handle_kernel_neigh_del: Del neighbor 10.0.5.50 EVPN is not present for interface vmbr100013`
```

> I don't know what compile options are needed for NHG support. @sworleys any chance you know what kernel requirements there are for NHGs?

I believe any kernel >= 5.3 supports nexthop groups.

Hmm,. but we using newest kernel than 5.3. 
`Kernel: 5.11.22-5-pve`


It's definitely not a kernel problem.
```
# ip r s
default via 10.0.4.1 dev eth3 proto kernel onlink
10.0.4.0/24 dev eth3 proto kernel scope link src 10.0.4.2
10.0.4.0/24 dev vmbr100012 proto kernel scope link src 10.0.4.2
10.0.5.0/24 dev vmbr100013 proto kernel scope link src 10.0.5.2
100.82.21.0/30 dev eth2 proto kernel scope link src 100.82.21.2
100.82.22.0/30 dev eth3 proto kernel scope link src 100.82.22.2
100.100.100.11 nhid 32 via 100.82.21.1 dev eth2 proto bgp metric 20
100.100.100.12 nhid 32 via 100.82.21.1 dev eth2 proto bgp metric 20
100.100.100.21 nhid 32 via 100.82.21.1 dev eth2 proto bgp metric 20
100.100.100.22 nhid 32 via 100.82.21.1 dev eth2 proto bgp metric 20
100.100.100.31 nhid 32 via 100.82.21.1 dev eth2 proto bgp metric 20
100.100.100.32 nhid 32 via 100.82.21.1 dev eth2 proto bgp metric 20
100.100.100.41 nhid 32 via 100.82.21.1 dev eth2 proto bgp metric 20
100.100.100.42 nhid 32 via 100.82.21.1 dev eth2 proto bgp metric 20
100.100.101.1 nhid 32 via 100.82.21.1 dev eth2 proto bgp metric 20

# ip nex show
id 2 dev lo scope host proto zebra
id 4 dev eth2 scope host proto zebra
id 6 dev eth2 scope link proto zebra
id 8 dev eth3 scope host proto zebra
id 14 dev vmbr5100 scope host proto zebra
id 22 dev vmbr100013 scope host proto zebra
id 32 via 100.82.21.1 dev eth2 scope link proto zebra
```
as you can see we have a few NHids, so now i can try to add one group id 777  to use NHid 32, and then display it
```
# ip nex a id 777 group 32

# ip nex s gro
id 777 group 32
```
as you can see ip nexthop groups  installed




Got it, if we see nexthop-groups then I imagine the kernel version is ok (at least for that feature).

Is the (10.0.5.1, 00:00:01:00:00:13) pair still attached to ES `05:00:00:fd:e8:00:01:86:ad:00` ?

From older output:
```
root@npve-n3:~# vtysh -c 'show evpn mac vni 100013 mac 00:00:01:00:00:13'
MAC: 00:00:01:00:00:13
 Remote ES: 05:00:00:fd:e8:00:01:86:ad:00
 Sync-info: neigh#: 0
 Local Seq: 0 Remote Seq: 0
 Uptime: 03:29:12
 Neighbors:
    10.0.5.1 Active

root@npve-n3:~# vtysh -c 'show evpn arp-cache vni 100013 ip 10.0.5.1'
IP: 10.0.5.1
 Type: remote
 State: active
 Uptime: 03:29:17
 MAC: 00:00:01:00:00:13
 Sync-info: -
 Remote ES: 05:00:00:fd:e8:00:01:86:ad:00
 Local Seq: 0 Remote Seq: 0
```

If so, can we get the output of the following:
```
vtysh -c 'show evpn es 05:00:00:fd:e8:00:01:86:ad:00'
vtysh -c 'show evpn es-evi 100013'
vtysh -c 'show bgp l2vpn evpn es 05:00:00:fd:e8:00:01:86:ad:00'
vtysh -c 'show bgp l2vpn evpn es-evi vni 100013'
vtysh -c 'show bgp l2vpn evpn es-vrf 05:00:00:fd:e8:00:01:86:ad:00'
vtysh -c 'show bgp l2vpn evpn route vni 100013' | grep -A2 '\[05:00:00:fd:e8:00:01:86:ad:00\]'
```

`vtysh -c 'show evpn es 05:00:00:fd:e8:00:01:86:ad:00`

```
ESI: 05:00:00:fd:e8:00:01:86:ad:00
 Type:
 Interface: -
 Ready for BGP: no
 VNI Count: 0
 MAC Count: 1
 DF preference: 0
 Nexthop group: 536870917
 VTEPs:
```
`vtysh -c 'show evpn es-evi 100013'`
```
Type: L local, R remote
VNI      ESI                            Type
```
`vtysh -c 'show bgp l2vpn evpn es 05:00:00:fd:e8:00:01:86:ad:00'`
```
ESI: 05:00:00:fd:e8:00:01:86:ad:00
 Type:
 RD: -
 Originator-IP: 0.0.0.0
 VNI Count: 0
 Remote VNI Count: 0
 VRF Count: 0
 MACIP EVI Path Count: 0
 MACIP Global Path Count: 32
 Inconsistent VNI VTEP Count: 0
 Inconsistencies: -
```
`vtysh -c 'show bgp l2vpn evpn es-evi vni 100013'`
```
Flags: L local, R remote, I inconsistent
VTEP-Flags: E EAD-per-ES, V EAD-per-EVI
VNI      ESI                            Flags VTEPs
```
`vtysh -c 'show bgp l2vpn evpn es-vrf 05:00:00:fd:e8:00:01:86:ad:00'`
```
ES-VRF Flags: A Active
ESI                            VRF             Flags IPv4-NHG IPv6-NHG Ref
```
`vtysh -c 'show bgp l2vpn evpn route vni 100013' | grep -A2 '\[05:00:00:fd:e8:00:01:86:ad:00\]'`
there is nothing output here

Ok so that all seems to indicate we don't have any type-1 routes for that ES.  Type-1's are used by a VTEP/PE to signal whether an ES is up (EAD per ES) as well as which EVIs live on the ES (EAD per EVI).  

However it appears we have no idea which VTEPs live on that ES, since we haven't installed any into the L2VNI 100013. 

Let's double check whether we've received any type-1's or if this could be an import issue.

`vtysh -c 'show bgp l2vpn evpn route' | grep -A3 00:00:01:00:00:13`
`vtysh -c 'show bgp l2vpn evpn route' | grep -C3 05:00:00:fd:e8:00:01:86:ad:00`

`vtysh -c 'show bgp l2vpn evpn route' | grep -A3 00:00:01:00:00:13`

```
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.11                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.11                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.11                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.11                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
--
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.12                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.12                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.12                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.12                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
--
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.21                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.21                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.21                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.21                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
--
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.22                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.22                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.22                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.22                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
--
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.31                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.31                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.31                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.31                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
--
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.32                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.32                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.32                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.32                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
--
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
--
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8

```
` vtysh -c 'show bgp l2vpn evpn route' | grep -C3 05:00:00:fd:e8:00:01:86:ad:00`
```
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ac:00]:[32]:[0.0.0.0]
                    100.100.100.11                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.11                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.11                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:87:0f:00]:[32]:[0.0.0.0]
--
                    RT:65000:268535468 ET:8 Default Gateway
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.11                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.11                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.11                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.11                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:c5:2c:8b:49:c0]
                    100.100.100.11                100      0 i
--
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ac:00]:[32]:[0.0.0.0]
                    100.100.100.12                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.12                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.12                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:87:0f:00]:[32]:[0.0.0.0]
--
                    RT:65000:268535468 ET:8 Default Gateway
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.12                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.12                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.12                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.12                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:c5:2c:8a:04:c0]
                    100.100.100.12                100      0 i
--
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ac:00]:[32]:[0.0.0.0]
                    100.100.100.21                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.21                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.21                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:87:0f:00]:[32]:[0.0.0.0]
--
                    RT:65000:268535468 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.21                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.21                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.21                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.21                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:c5:2c:8c:16:c0]
                    100.100.100.21                100      0 i
--
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ac:00]:[32]:[0.0.0.0]
                    100.100.100.22                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.22                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.22                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:87:0f:00]:[32]:[0.0.0.0]
--
                    RT:65000:268535468 ET:8 ND:Proxy
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.22                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.22                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.22                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.22                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:c5:2c:8b:58:c0]
                    100.100.100.22                100      0 i
--
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ac:00]:[32]:[0.0.0.0]
                    100.100.100.31                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.31                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.31                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:87:0f:00]:[32]:[0.0.0.0]
--
                    RT:65000:268535468 ET:8 ND:Proxy
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.31                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.31                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.31                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.31                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:c5:2c:8b:30:c0]
                    100.100.100.31                100      0 i
--
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ac:00]:[32]:[0.0.0.0]
                    100.100.100.32                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.32                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.32                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:87:0f:00]:[32]:[0.0.0.0]
--
                    RT:65000:268535468 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.32                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.32                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.32                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.32                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:c5:2c:8a:bd:c0]
                    100.100.100.32                100      0 i
--
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ac:00]:[32]:[0.0.0.0]
                    100.100.100.41                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.41                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.41                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:87:0f:00]:[32]:[0.0.0.0]
--
                    RT:65000:268535468 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.41                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:c5:2c:8c:39:c0]
                    100.100.100.41                100      0 i
--
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ac:00]:[32]:[0.0.0.0]
                    100.100.100.42                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.42                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.42                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:87:0f:00]:[32]:[0.0.0.0]
--
                    RT:65000:268535468 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
*>i[2]:[100013]:[48]:[00:00:01:00:00:13]:[32]:[10.0.5.1]
                    100.100.100.42                100      0 i
                    ESI:05:00:00:fd:e8:00:01:86:ad:00
                    RT:65000:268535469 ET:8
* i[2]:[100013]:[48]:[00:c5:2c:8a:18:c0]
                    100.100.100.42                100      0 i

```

here below attached a file that contains advertising routes from juniper qfx (100.100.100.21 working as Route Reflector) to frr 
`show route advertising-protocol bgp 100.100.101.2`
[bgp_output_qfx21_to_frr.txt](https://github.com/FRRouting/frr/files/7898214/bgp_output_qfx21_to_frr.txt)



Ok, so it looks like we're receiving type-1 routes for the ESI but we aren't importing them.  We need to figure out what we're importing and see how that differs from what we've received.

Can you get `vtysh -c 'show bgp l2vpn evpn es-vrf'` ?

`vtysh -c 'show bgp l2vpn evpn es-vrf'`
```
ES-VRF Flags: A Active
ESI                            VRF             Flags IPv4-NHG IPv6-NHG Ref
```
`vtysh -c 'show bgp l2vpn evpn import-rt'`
```
Route-target: 0:268440556
List of VNIs importing routes with this route-target:
  5100
Route-target: 0:268535468
List of VNIs importing routes with this route-target:
  100012
Route-target: 0:268535469
List of VNIs importing routes with this route-target:
  100013
```

All the type-1 routes look to be carrying a route-target of `65000:1`, which doesn't match the L2VNI import policy (`*:268535469`, where the portion before the colon is a wildcard).

Example route:
```
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.42                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
```

Import policy for L2VNI 100013:
```
Route-target: 0:268535469
List of VNIs importing routes with this route-target:
  100013
```

Can you have the junipers add an additional RT ending with `:268535469` to the type-1 routes?
Or can you adjust the import policy on the FRR side to accommodate `65000:1`?

okay, I added RT import/export policies on FRR side 
```
 address-family l2vpn evpn
  neighbor evpn activate
  advertise-all-vni
  autort rfc8365-compatible
  advertise-svi-ip
  dup-addr-detection freeze 900
  rd 100.100.101.2:1
  route-target import 65000:1
  route-target export 65000:1
 exit-address-family
exit
```
but import policy was not changed
` vtysh -c 'show bgp l2vpn evpn import-rt'`
```
Route-target: 0:268440556
List of VNIs importing routes with this route-target:
  5100
Route-target: 0:268535468
List of VNIs importing routes with this route-target:
  100012
Route-target: 0:268535469
List of VNIs importing routes with this route-target:
  100013

```
In previous versions of FRR (like 7.4,  7.5) we had a problem with RT policies between Juniper and FRR. But we used option ` autort rfc 8365-compatible` to solve the problem.

For L2VNIs you have to set the L2VNI RT Policy within the VNI context of the default bgp instance
e.g.
```
router bgp <asn>
[...]
 address-family l2vpn evpn
  advertise-all-vni
[...]
  vni 100013
   route-target import 65000:1
  exit-vni
 exit-address-family
```

okay,
```
 address-family l2vpn evpn
  neighbor evpn activate
  advertise-all-vni
  vni 1000013
   route-target import 65000:1
   route-target export 65000:1
  exit-vni
  autort rfc8365-compatible
  advertise-svi-ip
  dup-addr-detection freeze 900
  rd 100.100.101.2:1
 exit-address-family
exit
```

`vtysh -c 'show bgp l2vpn evpn import-rt'`
```
Route-target: 0:268440556
List of VNIs importing routes with this route-target:
  5100
Route-target: 0:268535468
List of VNIs importing routes with this route-target:
  100012
Route-target: 65000:1
List of VNIs importing routes with this route-target:
  1000013
Route-target: 0:268535469
List of VNIs importing routes with this route-target:
  100013
```
now RT is correct, but inactive

`vtysh -c 'show evpn mac vni 100013 mac 00:00:01:00:00:13'`
```
MAC: 00:00:01:00:00:13
 Remote ES: 05:00:00:fd:e8:00:01:86:ad:00
 Sync-info: neigh#: 0
 Local Seq: 0 Remote Seq: 0
 Uptime: 00:10:29
 Neighbors:
    10.0.5.1 Inactive

```

`vtysh -c 'show evpn arp-cache vni 100013 ip 10.0.5.1'`
```
IP: 10.0.5.1
 Type: remote
 State: inactive
 Uptime: 00:10:42
 MAC: 00:00:01:00:00:13
 Sync-info: -
 Remote ES: 05:00:00:fd:e8:00:01:86:ad:00
 Local Seq: 0 Remote Seq: 0
```


okay,
```
 address-family l2vpn evpn
  neighbor evpn activate
  advertise-all-vni
  vni 100013
   route-target import 65000:1
   route-target export 65000:1
  exit-vni
  autort rfc8365-compatible
  advertise-svi-ip
  dup-addr-detection freeze 900
  rd 100.100.101.2:1
 exit-address-family
exit
```

`vtysh -c 'show bgp l2vpn evpn import-rt'`
```
Route-target: 0:268440556
List of VNIs importing routes with this route-target:
  5100
Route-target: 0:268535468
List of VNIs importing routes with this route-target:
  100012
Route-target: 65000:1
List of VNIs importing routes with this route-target:
  100013

```
now RT is correct, but still does not work. we do not see any MACs
` show evpn vni`
```
VNI        Type VxLAN IF              # MACs   # ARPs   # Remote VTEPs  Tenant VRF
5100       L2   vxlan5100             2        3        1               default
100012     L2   vxlan100012           24       35       9               default
100013     L2   vxlan100013           0        0        0               default


```

I think setting the RT manually disables the auto-RTs, so you'll also need to configure import RTs for the L2VNIs which would have been covered by the auto-RT policy.

@sworleys when did wildcard support for manual import RTs get added?  If it's supported in 8.0/8.1 then maybe you could add an additional config line of `route-target import *:268535469`

not yet added, it's in an open PR that needs my attention when I get the bandwidth again.

Yes setting manual import RTs, disables auto RTs

> Yes setting manual import RTs, disables auto RTs

its very strange, cuz running config is
```
 address-family l2vpn evpn
  neighbor evpn activate
  advertise-all-vni
  autort rfc8365-compatible
  advertise-svi-ip
  dup-addr-detection freeze 900
  rd 100.100.101.2:1
  route-target import 65000:1
 exit-address-family

```
and I get all MACs
`npve-2# show e v`
```
VNI        Type VxLAN IF              # MACs   # ARPs   # Remote VTEPs  Tenant VRF
5100       L2   vxlan5100             2        3        1               default
100012     L2   vxlan100012           24       35       9               default
100013     L2   vxlan100013           11       11       9               default
```
I thought that only setting RT for specific vni disable auto RTs.

okay. it is possible way to accept Type-1 (with RT 65000:1)  and Type-2 (with autort) /like Juniper/? 



Right now, no.  You'll either be able to use the wildcard auto-import or you'll need to manually define all the import RTs.

> Right now, no. You'll either be able to use the wildcard auto-import or you'll need to manually define all the import RTs.
I got it, may be in a nearest future (i guess I'm not only one who bumped into the issue with Juniper).

is it possible to define import RT for vni 100013 to accept Type-1 and Type-2 routes together?


Yes, you can configure multiple import RTs at the same time.
e.g.
```
router bgp <asn>
[...]
 address-family l2vpn evpn
  advertise-all-vni
[...]
  vni 100013
   route-target import 65000:1
   route-target import 65000:268535469
  exit-vni
 exit-address-family
```

Well that's progress :) 

Can you get these?
```
vtysh -c 'show evpn es 05:00:00:fd:e8:00:01:86:ad:00'
vtysh -c 'show evpn es-evi 100013'
vtysh -c 'show bgp l2vpn evpn es 05:00:00:fd:e8:00:01:86:ad:00'
vtysh -c 'show bgp l2vpn evpn es-evi vni 100013'
vtysh -c 'show bgp l2vpn evpn es-vrf 05:00:00:fd:e8:00:01:86:ad:00'
vtysh -c 'show bgp l2vpn evpn route' | grep -A2 '\[05:00:00:fd:e8:00:01:86:ad:00\]'
vtysh -c 'show bgp l2vpn evpn route vni 100013' | grep -A2 '\[05:00:00:fd:e8:00:01:86:ad:00\]'
```

> Well that's progress :)

I'm very happy)

` vtysh -c 'show evpn es 05:00:00:fd:e8:00:01:86:ad:00'`
```
ESI: 05:00:00:fd:e8:00:01:86:ad:00
 Type:
 Interface: -
 Ready for BGP: no
 VNI Count: 0
 MAC Count: 1
 DF preference: 0
 Nexthop group: 536870963
 VTEPs:
```
`vtysh -c 'show evpn es-evi vni 100013'`
```
Type: L local, R remote
VNI      ESI                            Type
```
` vtysh -c 'show bgp l2vpn evpn es 05:00:00:fd:e8:00:01:86:ad:00'`
```
ESI: 05:00:00:fd:e8:00:01:86:ad:00
 Type: R
 RD: -
 Originator-IP: 0.0.0.0
 VNI Count: 1
 Remote VNI Count: 1
 VRF Count: 1
 MACIP EVI Path Count: 0
 MACIP Global Path Count: 32
 Inconsistent VNI VTEP Count: 0
 Inconsistencies: -

```

`vtysh -c 'show bgp l2vpn evpn es-evi vni 100013'`
```
Flags: L local, R remote, I inconsistent
VTEP-Flags: E EAD-per-ES, V EAD-per-EVI
VNI      ESI                            Flags VTEPs
100013   00:00:00:00:00:00:01:00:00:00  R     100.100.100.11(EV),100.100.100.12(EV)
100013   00:00:00:00:00:00:01:00:00:02  R     100.100.100.11(EV),100.100.100.12(EV)
100013   00:00:00:00:00:00:01:00:00:03  R     100.100.100.11(EV),100.100.100.12(EV)
100013   00:00:00:00:00:00:01:00:00:04  R     100.100.100.11(EV),100.100.100.12(EV)
100013   00:00:00:00:00:00:01:00:00:05  R     100.100.100.11(EV),100.100.100.12(EV)
100013   00:00:00:00:00:00:01:00:00:06  R     100.100.100.11(EV),100.100.100.12(EV)
100013   00:00:00:00:00:00:01:00:00:07  R     100.100.100.11(EV),100.100.100.12(EV)
100013   00:00:00:00:00:00:01:00:00:08  R     100.100.100.11(EV),100.100.100.12(EV)
100013   00:00:00:00:00:00:01:00:00:12  R     100.100.100.11(EV),100.100.100.12(EV)
100013   00:00:00:00:00:00:01:00:00:15  R     100.100.100.11(EV),100.100.100.12(EV)
100013   00:00:00:00:00:00:02:00:00:00  R     100.100.100.21(EV),100.100.100.22(EV)
100013   00:00:00:00:00:00:02:00:00:02  R     100.100.100.21(EV),100.100.100.22(EV)
100013   00:00:00:00:00:00:02:00:00:03  R     100.100.100.21(EV),100.100.100.22(EV)
100013   00:00:00:00:00:00:02:00:00:04  R     100.100.100.21(EV),100.100.100.22(EV)
100013   00:00:00:00:00:00:02:00:00:05  R     100.100.100.21(EV),100.100.100.22(EV)
100013   00:00:00:00:00:00:02:00:00:06  R     100.100.100.21(EV),100.100.100.22(EV)
100013   00:00:00:00:00:00:02:00:00:07  R     100.100.100.21(EV),100.100.100.22(EV)
100013   00:00:00:00:00:00:02:00:00:08  R     100.100.100.21(EV),100.100.100.22(EV)
100013   00:00:00:00:00:00:02:00:00:09  R     100.100.100.21(EV),100.100.100.22(EV)
100013   00:00:00:00:00:00:02:00:00:10  R     100.100.100.21(EV),100.100.100.22(EV)
100013   00:00:00:00:00:00:02:00:00:16  R     100.100.100.21(EV),100.100.100.22(EV)
100013   00:00:00:00:00:00:03:00:00:00  R     100.100.100.31(EV),100.100.100.32(EV)
100013   00:00:00:00:00:00:03:00:00:03  R     100.100.100.31(EV),100.100.100.32(EV)
100013   00:00:00:00:00:00:03:00:00:04  R     100.100.100.31(EV),100.100.100.32(EV)
100013   00:00:00:00:00:00:03:00:00:05  R     100.100.100.31(EV),100.100.100.32(EV)
100013   00:00:00:00:00:00:03:00:00:06  R     100.100.100.31(EV),100.100.100.32(EV)
100013   00:00:00:00:00:00:03:00:00:07  R     100.100.100.31(EV),100.100.100.32(EV)
100013   00:00:00:00:00:00:03:00:00:14  R     100.100.100.31(EV),100.100.100.32(EV)
100013   00:00:00:00:00:00:03:00:00:15  R     100.100.100.31(EV),100.100.100.32(EV)
100013   00:00:00:00:00:00:04:00:00:00  R     100.100.100.41(EV),100.100.100.42(EV)
100013   00:00:00:00:00:00:04:00:00:01  R     100.100.100.41(EV),100.100.100.42(EV)
100013   00:00:00:00:00:00:04:00:00:02  R     100.100.100.41(EV),100.100.100.42(EV)
100013   00:00:00:00:00:00:04:00:00:03  R     100.100.100.41(EV),100.100.100.42(EV)
100013   00:00:00:00:00:00:04:00:00:04  R     100.100.100.41(EV),100.100.100.42(EV)
100013   00:00:00:00:00:00:04:00:00:05  R     100.100.100.41(EV),100.100.100.42(EV)
100013   00:00:00:00:00:00:04:00:00:06  R     100.100.100.41(EV),100.100.100.42(EV)
100013   00:00:00:00:00:00:04:00:00:07  R     100.100.100.41(EV),100.100.100.42(EV)
100013   00:00:00:00:00:00:04:00:00:08  R     100.100.100.41(EV),100.100.100.42(EV)
100013   00:00:00:00:00:00:04:00:00:09  R     100.100.100.41(EV),100.100.100.42(EV)
100013   00:00:00:00:00:00:04:00:00:11  R     100.100.100.41(EV),100.100.100.42(EV)
100013   00:00:00:00:00:00:04:00:00:15  R     100.100.100.41(EV),100.100.100.42(EV)
100013   05:00:00:fd:e8:00:01:86:aa:00  R     100.100.100.11(E),100.100.100.12(E),100.100.100.21(E),100.100.100.22(E),100.100.100.31(E),100.100.100.32(E),100.100.100.41(E),100.100.100.42(E)
100013   05:00:00:fd:e8:00:01:86:ab:00  R     100.100.100.11(E),100.100.100.12(E),100.100.100.21(E),100.100.100.22(E),100.100.100.31(E),100.100.100.32(E),100.100.100.41(E),100.100.100.42(E)
100013   05:00:00:fd:e8:00:01:86:ac:00  R     100.100.100.11(E),100.100.100.12(E),100.100.100.21(E),100.100.100.22(E),100.100.100.31(E),100.100.100.32(E),100.100.100.41(E),100.100.100.42(E)
100013   05:00:00:fd:e8:00:01:86:ad:00  R     100.100.100.11(E),100.100.100.12(E),100.100.100.21(E),100.100.100.22(E),100.100.100.31(E),100.100.100.32(E),100.100.100.41(E),100.100.100.42(E)
100013   05:00:00:fd:e8:00:01:87:0f:00  R     100.100.100.11(E),100.100.100.12(E),100.100.100.21(E),100.100.100.22(E),100.100.100.31(E),100.100.100.32(E),100.100.100.41(E),100.100.100.42(E)
100013   05:00:00:fd:e8:00:01:87:5f:00  R     100.100.100.41(E),100.100.100.42(E)
100013   05:00:00:fd:e8:00:01:8a:94:00  R     100.100.100.11(E),100.100.100.12(E),100.100.100.21(E),100.100.100.22(E),100.100.100.31(E),100.100.100.32(E),100.100.100.41(E),100.100.100.42(E)
100013   05:00:00:fd:e8:00:01:8a:98:00  R     100.100.100.11(E),100.100.100.12(E),100.100.100.21(E),100.100.100.22(E),100.100.100.31(E),100.100.100.32(E),100.100.100.41(E),100.100.100.42(E)

```

`vtysh -c 'show bgp l2vpn evpn es-vrf 05:00:00:fd:e8:00:01:86:ad:00'`
```
ES-VRF Flags: A Active
ESI                            VRF             Flags IPv4-NHG IPv6-NHG Ref
05:00:00:fd:e8:00:01:86:ad:00  (null)                72580671 72580672 1

```
` vtysh -c 'show bgp l2vpn evpn route' | grep -A2 '\[05:00:00:fd:e8:00:01:86:ad:00\]'`
```
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.11                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.11                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
--
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.12                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.12                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
--
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.21                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.21                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
--
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.22                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.22                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
--
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.31                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.31                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
--
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.32                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.32                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
--
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.41                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.41                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
--
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.42                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[0.0.0.0]
                    100.100.100.42                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA

```
`vtysh -c 'show bgp l2vpn evpn route vni 100013' | grep -A2 '\[05:00:00:fd:e8:00:01:86:ad:00\]'`
```
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.11]
                    100.100.100.11                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.11]
                    100.100.100.11                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.12]
                    100.100.100.12                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.12]
                    100.100.100.12                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.21]
                    100.100.100.21                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.21]
                    100.100.100.21                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.22]
                    100.100.100.22                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.22]
                    100.100.100.22                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.31]
                    100.100.100.31                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.31]
                    100.100.100.31                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.32]
                    100.100.100.32                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.32]
                    100.100.100.32                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.41]
                    100.100.100.41                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.41]
                    100.100.100.41                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
*>i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.42]
                    100.100.100.42                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA
* i[1]:[4294967295]:[05:00:00:fd:e8:00:01:86:ad:00]:[32]:[100.100.100.42]
                    100.100.100.42                100      0 i
                    RT:65000:1 ET:8 ESI-label-Rt:AA

```

Juniper uses VLAN-Aware scenario  [RFC7432 section 6.3](https://datatracker.ietf.org/doc/html/rfc7432#section-6.3), FRR I guess not (it could be VLAN-Base) . That is why we get problem mentioned before between Juniper and FRR
According to this [document](https://www.juniper.net/documentation/us/en/software/junos/evpn-vxlan/topics/concept/auto-derived-route-targets.html ) _Route targets are used to identify the different routes that are imported and exported into the VRF tables. When you enable the auto-derived route targets option , Junos derives the route targets based on the EVPN encapsulation for EVPN route type 2 (MAC/IP Advertisement Route) and EVPN route type 3 (Inclusive Multicast Ethernet Tag route). The route targets for remaining EVPN route types are not auto-derived._

Will FRR support VLAN-Aware  (do i need to make a feature request or make a post bug)? I'm not only one person who uses Juniper, and many people can bumped into this problem. 
 address-family l2vpn evpn
   ...
  advertise-all-vni
  autort rfc8365-compatible
  route-target import xxxxx:yyyyy
 exit-address-family



Yes, FRR is a vlan-based EVPN implementation, not vlan-aware.  We do not set the Ethernet Tag field in the NLRI, and we ignore the tag when importing routes into the local MAC-VRF.

That said, I've seen interop with Juniper and FRR done before, so the specific implementation type shouldn't be coming into play here beyond Juniper being able to map multiple broadcast domains to the same L2VNI -- if the Juniper is configured to use 1:1 mappings of VLAN:EVI/L2VNI, then I wouldn't expect there to be any problems stemming from this.

So feel free to open a separate issue as a feature request for FRR to support vlan-based EVIs if you'd like, but I don't imagine that's the crux of what we're chasing here.


Judging from your output though, I think the issue here is that we have not received an "EAD per EVI" Type-1 for 05:00:00:fd:e8:00:01:86:ad:00, so we are not marking the remote ES as active.

You can see that we do not have the "V" flag set for `05:00:00:fd:e8:00:01:86:ad:00` (10.0.5.1), but it is set for `00:00:00:00:00:00:01:00:00:02` (10.0.5.50):
```
Flags: L local, R remote, I inconsistent
VTEP-Flags: E EAD-per-ES, V EAD-per-EVI
VNI      ESI                            Flags VTEPs
<snip>
100013   00:00:00:00:00:00:01:00:00:02  R     100.100.100.11(EV),100.100.100.12(EV)
<snip>
100013   05:00:00:fd:e8:00:01:86:ad:00  R     100.100.100.11(E),100.100.100.12(E),100.100.100.21(E),100.100.100.22(E),100.100.100.31(E),100.100.100.32(E),100.100.100.41(E),100.100.100.42(E)
```

I'm pretty confident that by default FRR expects to receive 1 EAD-per-ES route + N EAD-per-EVI routes (where N is the number of L2VNIs / MAC-VRFs).
Juniper seems to be advertising both types of EAD routes for other Ethernet Segments (both "E" and V" flags present), but not for `05:00:00:fd:e8:00:01:86:ad:00` (only "E" flag present).

You may be able to disable this check on the FRR side using the `disable-ead-evi-rx` from within the l2vpn evpn address-family of the default VRF.
RFC 7432 says EAD-per-EVI route support is optional, but it would probably also be worthwhile to look into why the Juniper isn't consistently advertising both types for all Ethernet Segments.  One would think that an implementation would either always use them or never use them (possibly depending on config), rather than only using them for some segments.

Well, got it.
This ES `05:00:00:fd:e8:00:01:86:ad:00` is VGA (Virtual Gateway Address). Only VGA seems to be missing "V" flag.

` show configuration interfaces irb.13 | display set `
```
set interfaces irb unit 13 virtual-gateway-accept-data
set interfaces irb unit 13 family inet address 10.0.5.21/24 preferred
set interfaces irb unit 13 family inet address 10.0.5.21/24 virtual-gateway-address 10.0.5.1
set interfaces irb unit 13 virtual-gateway-v4-mac 00:00:01:00:00:13
```

so, i added `disable-ead-evi`, something changed, but not exact as I expected.

`vtysh -c 'show evpn es 05:00:00:fd:e8:00:01:86:ad:00'`
```
ESI: 05:00:00:fd:e8:00:01:86:ad:00
 Type: Remote
 Interface: -
 Ready for BGP: no
 VNI Count: 0
 MAC Count: 1
 DF preference: 0
 Nexthop group: 536870963
 VTEPs:
     100.100.100.11 nh: 268435461
     100.100.100.12 nh: 268435474
     100.100.100.21 nh: 268435476
     100.100.100.22 nh: 268435486
     100.100.100.31 nh: 268435488
     100.100.100.32 nh: 268435494
     100.100.100.41 nh: 268435496
     100.100.100.42 nh: 268435506
```

`vtysh -c 'show bgp l2vpn evpn es 05:00:00:fd:e8:00:01:86:ad:00'`
```
ESI: 05:00:00:fd:e8:00:01:86:ad:00
 Type: R
 RD: -
 Originator-IP: 0.0.0.0
 VNI Count: 1
 Remote VNI Count: 1
 VRF Count: 1
 MACIP EVI Path Count: 0
 MACIP Global Path Count: 32
 Inconsistent VNI VTEP Count: 0
 Inconsistencies: -
 VTEPs:
  100.100.100.11 flags: A
  100.100.100.12 flags: A
  100.100.100.21 flags: A
  100.100.100.22 flags: A
  100.100.100.31 flags: A
  100.100.100.32 flags: A
  100.100.100.41 flags: A
  100.100.100.42 flags: A
```
`vtysh -c 'show evpn arp-cache vni 100013 ip 10.0.5.1'` (VGA address)

```
IP: 10.0.5.1
 Type: remote
 State: inactive
 Uptime: 00:00:04
 MAC: 00:00:01:00:00:13
 Sync-info: -
 Remote ES: 05:00:00:fd:e8:00:01:86:ad:00
 Local Seq: 0 Remote Seq: 0
```
`root@npve-2:/home/ialov# vtysh -c 'show evpn arp-cache vni 100013 ip 10.0.5.21'` (IRB Address)
```
IP: 10.0.5.21
 Type: remote
 State: inactive
 Uptime: 00:00:07
 MAC: 00:c5:2c:8c:16:c0
 Sync-info: -
 Remote VTEP: 100.100.100.21
 Local Seq: 0 Remote Seq: 0

```

`bridge fdb show | grep "00:00:01:00:00:13\|00:c5:2c:8c:16:c0"`  
```
00:c5:2c:8c:16:c0 dev vxlan100012 vlan 1 sticky master vmbr100012 static
00:c5:2c:8c:16:c0 dev vxlan100012 sticky master vmbr100012 static
00:c5:2c:8c:16:c0 dev vxlan100012 dst 100.100.100.21 self sticky static
00:00:01:00:00:13 dev vxlan100013 vlan 1 extern_learn master vmbr100013
00:c5:2c:8c:16:c0 dev vxlan100013 vlan 1 sticky master vmbr100013 static
00:c5:2c:8c:16:c0 dev vxlan100013 dst 100.100.100.21 self sticky static
00:00:01:00:00:13 dev vxlan100013 nhid 536870915 self extern_learn
```

`ip neigh show | grep "10.0.5.2\?1 "`
```
10.0.5.1 dev vmbr100013  FAILED
10.0.5.21 dev vmbr100013  FAILED
```
and I cant ping gateways, but 10.0.5.50 is steel working fine.

My suspicion is that the `disable-ead-evi*` commands just set a flag and don't trigger any reprocessing.
So I imagine it is affecting logic for the next processing event, but not modifying anything that already exists (i.e. type-2's we already know).

Can you try removing/re-adding the config for the GW/IRB addresses to trigger a withdrawal + re-advertisement of the type-2?

of course, i was restart frr before testing.


@frrbot autoclose in 1 week