OSPFv2 redistribution in ABR are prefered in FRR via non-backbone area

This could be an legacy bug from Quagga, because few years ago I got this strange issue and I've opened a ticket to https://bugzilla.quagga.net/show_bug.cgi?id=828 , but after 4 years nobody did anything and because FRR is much-much-much better with support and features than the ancient Quagga I'm hopping that we can figured out the issue and fix it.

---------------

[X] Did you check if this is a duplicate issue?
[X] Did you test it on the latest FRRouting/frr master branch?

Steps to reproduce the behavior:
1. 3 routers with FRR or Quagga: R1, R2, R3
2. R1-R2 with one link configured in area 0
3. The third router R3 is connected with 2 links: R1-R3 and R2-R3 both in area 10 nssa no-summary
4. On R2 redistribute connected routes to OSPF.
5. R1 is sees 10.180.0.208/30 as redistributed routes via R3 instead of area 0 R1-R2.

If R2 is replaced with a Cisco router, the redistributed connected route is announced via R1-R2 area 0 link, not through R2-R3-R1.
The only work around is to create an additional link between R1-R2 and set as area 10 nssa no-summary, but think that you have 10 areas you have to create 10 additional links between R1-R2 to overcome this issue :(.

Diagram:
```
(FRR/Quagga)
R1 -----------\
|              \
|               \
|                R3 (FRR/Cisco)
|               /
|              /
R2------------/
(FRR/Cisco)


R1 - R2 -> area 0
R1 - R3 -> area 2
R2 - R3 -> area 2
```

 - OS Kernel: Debian Buster 10 / Kernel 4.19.0-4
 - FRR Version: FRRouting 7.1-dev-20190331-02-gecedbaa13 (FRR-1).

Configs:

R1:
[R1-config.txt](https://github.com/FRRouting/frr/files/3037895/R1-config.txt)

R2:
[R2-config.txt](https://github.com/FRRouting/frr/files/3037896/R2-config.txt)

R3:
[R3-config.txt](https://github.com/FRRouting/frr/files/3037897/R3-config.txt)

Output:

R2:
```
FRR-2# sh ip route 
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct, A - Babel, D - SHARP,
       F - PBR, f - OpenFabric,
       > - selected route, * - FIB route, q - queued route, r - rejected route

O>* 10.180.0.14/32 [110/20] via 10.180.0.197, ens224, 01:10:53
O   10.180.0.15/32 [110/10] via 0.0.0.0, lo0 onlink, 22:22:48
C>* 10.180.0.15/32 is directly connected, lo0, 22:22:49
O   10.180.0.196/30 [110/10] is directly connected, ens224, 22:22:48
C>* 10.180.0.196/30 is directly connected, ens224, 22:22:49
O>* 10.180.0.200/30 [110/110] via 10.180.0.205, ens256, 00:28:29
O   10.180.0.204/30 [110/10] is directly connected, ens256, 01:02:19
C>* 10.180.0.204/30 is directly connected, ens256, 01:03:14
C>* 10.180.0.208/30 is directly connected, eth100, 00:17:58
O>* 10.190.0.11/32 [110/20] via 10.180.0.205, ens256, 00:28:29

FRR-2# sh ip ospf database 

       OSPF Router with ID (10.180.0.15)

                Router Link States (Area 0.0.0.0)

Link ID         ADV Router      Age  Seq#       CkSum  Link count
10.180.0.14     10.180.0.14      356 0x80000015 0xa533 3
10.180.0.15     10.180.0.15      244 0x80000013 0x3293 3

                Summary Link States (Area 0.0.0.0)

Link ID         ADV Router      Age  Seq#       CkSum  Route
10.180.0.200    10.180.0.14      366 0x80000002 0x946c 10.180.0.200/30
10.180.0.200    10.180.0.15     1659 0x80000001 0x7c20 10.180.0.200/30
10.180.0.204    10.180.0.14     1662 0x80000003 0x5641 10.180.0.204/30
10.180.0.204    10.180.0.15      284 0x80000003 0x6496 10.180.0.204/30
10.190.0.11     10.180.0.14      286 0x80000002 0xfbab 10.190.0.11/32
10.190.0.11     10.180.0.15     1659 0x80000001 0xf7af 10.190.0.11/32

                ASBR-Summary Link States (Area 0.0.0.0)

Link ID         ADV Router      Age  Seq#       CkSum
10.180.0.14     10.180.0.15     1659 0x80000001 0xcb87
10.180.0.15     10.180.0.14     1660 0x80000001 0xc78b

                Router Link States (Area 0.0.0.10 [NSSA])

Link ID         ADV Router      Age  Seq#       CkSum  Link count
10.180.0.14     10.180.0.14      277 0x80000005 0x3376 2
10.180.0.15     10.180.0.15     1669 0x80000005 0xc1dc 2
10.190.0.11     10.190.0.11     1669 0x8000000e 0xc965 5

                Summary Link States (Area 0.0.0.10 [NSSA])

Link ID         ADV Router      Age  Seq#       CkSum  Route
0.0.0.0         10.180.0.14      317 0x80000002 0x3d53 0.0.0.0/0
0.0.0.0         10.180.0.15      254 0x80000003 0x3559 0.0.0.0/0

                NSSA-external Link States (Area 0.0.0.10 [NSSA])

Link ID         ADV Router      Age  Seq#       CkSum  Route
10.180.0.208    10.180.0.15     1028 0x80000001 0xff62 E2 10.180.0.208/30 [0x0]

                AS External Link States

Link ID         ADV Router      Age  Seq#       CkSum  Route
10.180.0.208    10.180.0.15     1028 0x80000001 0x1c48 E2 10.180.0.208/30 [0x0]
```

R1:
```
FRR-1# sh ip route 
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct, A - Babel, D - SHARP,
       F - PBR, f - OpenFabric,
       > - selected route, * - FIB route, q - queued route, r - rejected route

O   10.180.0.14/32 [110/10] via 0.0.0.0, lo0 onlink, 22:26:07
C>* 10.180.0.14/32 is directly connected, lo0, 22:26:08
O>* 10.180.0.15/32 [110/11] via 10.180.0.198, ens224, 01:14:01
O   10.180.0.196/30 [110/1] is directly connected, ens224, 01:15:34
C>* 10.180.0.196/30 is directly connected, ens224, 01:15:34
O   10.180.0.200/30 [110/10] is directly connected, ens256, 00:38:14
C>* 10.180.0.200/30 is directly connected, ens256, 00:38:35
O>* 10.180.0.204/30 [110/110] via 10.180.0.202, ens256, 00:31:39
O>* 10.180.0.208/30 [110/20] via 10.180.0.202, ens256, 00:21:06
O>* 10.190.0.11/32 [110/20] via 10.180.0.202, ens256, 00:36:44
FRR-1# show ip ospf database 

       OSPF Router with ID (10.180.0.14)

                Router Link States (Area 0.0.0.0)

Link ID         ADV Router      Age  Seq#       CkSum  Link count
10.180.0.14     10.180.0.14      608 0x80000015 0xa533 3
10.180.0.15     10.180.0.15      498 0x80000013 0x3293 3

                Summary Link States (Area 0.0.0.0)

Link ID         ADV Router      Age  Seq#       CkSum  Route
10.180.0.200    10.180.0.14      618 0x80000002 0x946c 10.180.0.200/30
10.180.0.200    10.180.0.15      188 0x80000002 0x7a21 10.180.0.200/30
10.180.0.204    10.180.0.14      178 0x80000004 0x5442 10.180.0.204/30
10.180.0.204    10.180.0.15      538 0x80000003 0x6496 10.180.0.204/30
10.190.0.11     10.180.0.14      538 0x80000002 0xfbab 10.190.0.11/32
10.190.0.11     10.180.0.15      228 0x80000002 0xf5b0 10.190.0.11/32

                ASBR-Summary Link States (Area 0.0.0.0)

Link ID         ADV Router      Age  Seq#       CkSum
10.180.0.14     10.180.0.15      208 0x80000002 0xc988
10.180.0.15     10.180.0.14      198 0x80000002 0xc58c

                Router Link States (Area 0.0.0.10 [NSSA])

Link ID         ADV Router      Age  Seq#       CkSum  Link count
10.180.0.14     10.180.0.14      528 0x80000005 0x3376 2
10.180.0.15     10.180.0.15      219 0x80000006 0xbfdd 2
10.190.0.11     10.190.0.11      208 0x8000000f 0xc766 5

                Summary Link States (Area 0.0.0.10 [NSSA])

Link ID         ADV Router      Age  Seq#       CkSum  Route
0.0.0.0         10.180.0.14      568 0x80000002 0x3d53 0.0.0.0/0
0.0.0.0         10.180.0.15      509 0x80000003 0x3559 0.0.0.0/0

                NSSA-external Link States (Area 0.0.0.10 [NSSA])

Link ID         ADV Router      Age  Seq#       CkSum  Route
10.180.0.208    10.180.0.15     1284 0x80000001 0xff62 E2 10.180.0.208/30 [0x0]

                AS External Link States

Link ID         ADV Router      Age  Seq#       CkSum  Route
10.180.0.208    10.180.0.15     1283 0x80000001 0x1c48 E2 10.180.0.208/30 [0x0]

FRR-1# 
```

R3:
```
FRR-Test# show ip route 
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct, A - Babel, D - SHARP,
       F - PBR, f - OpenFabric,
       > - selected route, * - FIB route, q - queued route, r - rejected route

O   10.180.0.200/30 [110/100] is directly connected, ens37, 00:38:08
C>* 10.180.0.200/30 is directly connected, ens37, 00:38:32
O   10.180.0.204/30 [110/100] is directly connected, ens38, 00:32:58
C>* 10.180.0.204/30 is directly connected, ens38, 00:32:58
O>* 10.180.0.208/30 [110/20] via 10.180.0.206, ens38, 00:22:08
O   10.190.0.11/32 [110/10] via 0.0.0.0, lo0 onlink, 01:11:40
C>* 10.190.0.11/32 is directly connected, lo0, 01:30:04

FRR-Test# show ip ospf database 

       OSPF Router with ID (10.190.0.11)

                Router Link States (Area 0.0.0.10 [NSSA])

Link ID         ADV Router      Age  Seq#       CkSum  Link count
10.180.0.14     10.180.0.14      609 0x80000005 0x3376 2
10.180.0.15     10.180.0.15      298 0x80000006 0xbfdd 2
10.190.0.11     10.190.0.11      287 0x8000000f 0xc766 5

                Summary Link States (Area 0.0.0.10 [NSSA])

Link ID         ADV Router      Age  Seq#       CkSum  Route
0.0.0.0         10.180.0.14      649 0x80000002 0x3d53 0.0.0.0/0
0.0.0.0         10.180.0.15      588 0x80000003 0x3559 0.0.0.0/0

                NSSA-external Link States (Area 0.0.0.10 [NSSA])

Link ID         ADV Router      Age  Seq#       CkSum  Route
10.180.0.208    10.180.0.15     1362 0x80000001 0xff62 E2 10.180.0.208/30 [0x0]
```

R1 logs:
[FRR-R1 - logs.txt](https://github.com/FRRouting/frr/files/3037962/FRR-R1.-.logs.txt)

R2 logs:
[FRR-R2 - OSPF connect routes redistribute via non-backbone.txt](https://github.com/FRRouting/frr/files/3037905/FRR-R2.-.OSPF.connect.routes.redistribute.via.non-backbone.txt)
[FRR-R2 - logs 2.txt](https://github.com/FRRouting/frr/files/3037926/FRR-R2.-.logs.2.txt)



I've replicate the setup on 3 Cisco routers. The result is the route is accepted via area 0 and not via area 10.

What make me think is the selection procedure in FRR at the receiver. Instead to keep the route type 5 in the routing table, the selection decision is going further and is overwriting with type 7 from area 10. 

```
Apr  5 12:23:37 FRR-1 ospfd[668]: LSA: freed 0x560e63384510
Apr  5 12:23:37 FRR-1 ospfd[668]: LSA[Type7:10.180.0.208]: data freed 0x560e6338ce50
Apr  5 12:23:37 FRR-1 ospfd[668]: Route[External]: Calculate AS-external-LSA to 10.180.0.208/30 adv_router 10.180.0.15
Apr  5 12:23:37 FRR-1 ospfd[668]: Route[External]: type-2 created.
Apr  5 12:23:37 FRR-1 ospfd[668]: Route[External]: Adding a new route 10.180.0.208/30 with paths 1
Apr  5 12:23:37 FRR-1 ospfd[668]: Route[External]: Calculate AS-external-LSA to 10.180.0.208/30 adv_router 10.180.0.15
Apr  5 12:23:37 FRR-1 ospfd[668]: Route[External]: type-2 created.
Apr  5 12:23:37 FRR-1 ospfd[668]: Route[Compare]: Path types are the same.
Apr  5 12:23:37 FRR-1 ospfd[668]: Route[External]: Routes are equal
Apr  5 12:23:37 FRR-1 ospfd[668]: Scheduling ABR task
Apr  5 12:23:37 FRR-1 ospfd[668]: LSA[Type7,id(10.180.0.208),ar(10.180.0.15)]: Install NSSA-LSA
```

Going a little deeper in gdb:

```
ospf_route_cmp (ospf=0x555e656fab20, r1=0x555e657a2f60, r2=0x555e65725710) at ospfd/ospf_route.c:703
...
ospf_route_cmp (ospf=0x555e656fab20, r1=0x555e657a2f60, r2=0x555e65725710) at ospfd/ospf_route.c:703
703		if ((ret = (r1->path_type - r2->path_type)))
(gdb) 
706		if (IS_DEBUG_OSPF_EVENT)
(gdb) print ret
$7 = 0
(gdb) next
709		switch (r1->path_type) {
(gdb) 
722			if ((ret = (r1->u.ext.type2_cost - r2->u.ext.type2_cost)))
(gdb) print r1->path_type 
$8 = 4 '\004'
(gdb) print OSPF_PATH_INTRA_AREA
No symbol "OSPF_PATH_INTRA_AREA" in current context.
(gdb) print r1->u.ext.type2_cost
$9 = 20
(gdb) print r2->u.ext.type2_cost
$10 = 20
(gdb) print *r1
$11 = {type = 2 '\002', id = {s_addr = 3556815882}, mask = {s_addr = 4244635647}, path_type = 4 '\004', 
  paths = 0x555e6578d8a0, cost = 110, u = {std = {origin = 0x555e6572bba0, area_id = {s_addr = 20}, 
      external_routing = 0, options = 160 '\240', flags = 55 '7'}, ext = {origin = 0x555e6572bba0, 
      type2_cost = 20, tag = 0, asbr = 0x555e657a37a0}}}
(gdb) print *r2
$12 = {type = 2 '\002', id = {s_addr = 3556815882}, mask = {s_addr = 4244635647}, path_type = 4 '\004', 
  paths = 0x555e657a2d70, cost = 110, u = {std = {origin = 0x555e6571bf60, area_id = {s_addr = 20}, 
      external_routing = 0, options = 160 '\240', flags = 55 '7'}, ext = {origin = 0x555e6571bf60, 
      type2_cost = 20, tag = 0, asbr = 0x555e657a37a0}}}
```

I'm noticing that the both pointers r1 and r2 are identical .. And I don't understand why..

Here is the setup with Cisco:

R1 config and output:
[R1-config.txt](https://github.com/FRRouting/frr/files/3047226/R1-config.txt)
[R1-show.txt](https://github.com/FRRouting/frr/files/3047227/R1-show.txt)

R2 config and output:
[R2-config.txt](https://github.com/FRRouting/frr/files/3047228/R2-config.txt)
[R2-show.txt](https://github.com/FRRouting/frr/files/3047229/R2-show.txt)

R3 config and output:
[R3-config.txt](https://github.com/FRRouting/frr/files/3047230/R3-config.txt)
[R3-show.txt](https://github.com/FRRouting/frr/files/3047231/R3-show.txt)



Hi,

I've tried few source debugging and I'm still confusing why the R01 is receiving the route like this:

```
Breakpoint 1, ospf_route_cmp (ospf=0x5629b6787b20, r1=0x5629b67ad100, r2=0x5629b67aeb20) at ospfd/ospf_route.c:700
700		int ret = 0;
(gdb) print *r1; print *r2; bt;
Invalid character ';' in expression.
(gdb) print *r1; print *r2
Invalid character ';' in expression.
(gdb) print *r1
$18 = {type = 2 '\002', id = {s_addr = 3355489290}, mask = {s_addr = 4244635647}, path_type = 2 '\002', paths = 0x5629b67a5880, cost = 120, u = {std = {origin = 0x5629b679f890, area_id = {
        s_addr = 0}, external_routing = 0, options = 2 '\002', flags = 0 '\000'}, ext = {origin = 0x5629b679f890, type2_cost = 0, tag = 0, asbr = 0x2}}}
(gdb) print *r2
$19 = {type = 2 '\002', id = {s_addr = 234927114}, mask = {s_addr = 0}, path_type = 1 '\001', paths = 0x5629b67aea60, cost = 10, u = {std = {origin = 0x5629b67a67a0, area_id = {s_addr = 167772160}, 
      external_routing = 2, options = 0 '\000', flags = 0 '\000'}, ext = {origin = 0x5629b67a67a0, type2_cost = 167772160, tag = 2, asbr = 0x0}}}
(gdb) bt
#0  ospf_route_cmp (ospf=0x5629b6787b20, r1=0x5629b67ad100, r2=0x5629b67aeb20) at ospfd/ospf_route.c:700
#1  0x00005629b5d28f01 in ospf_ia_network_route (ospf=0x5629b6787b20, rt=0x5629b67b13c0, p=0x7ffe092efe70, new_or=0x5629b67ad100, abr_or=0x5629b67b11f0) at ospfd/ospf_ia.c:94
#2  0x00005629b5d294c7 in process_summary_lsa (area=0x5629b67a3820, rt=0x5629b67b13c0, rtrs=0x5629b67ace60, lsa=0x5629b67acf80) at ospfd/ospf_ia.c:267
#3  0x00005629b5d2956e in ospf_examine_summaries (area=0x5629b67a3820, lsdb_rt=0x5629b67a3b40, rt=0x5629b67b13c0, rtrs=0x5629b67ace60) at ospfd/ospf_ia.c:286
#4  0x00005629b5d2a1c9 in ospf_ia_routing (ospf=0x5629b6787b20, rt=0x5629b67b13c0, rtrs=0x5629b67ace60) at ospfd/ospf_ia.c:640
#5  0x00005629b5ce2b55 in ospf_spf_calculate_timer (thread=0x7ffe092f0250) at ospfd/ospf_spf.c:1328
#6  0x00007f40cb259c08 in thread_call (thread=0x7ffe092f0250) at lib/thread.c:1581
#7  0x00007f40cb212ced in frr_run (master=0x5629b65cb4d0) at lib/libfrr.c:1054
#8  0x00005629b5cb176f in main (argc=3, argv=0x7ffe092f0468) at ospfd/ospf_main.c:230
(gdb) continue 
Continuing.

Breakpoint 1, ospf_route_cmp (ospf=0x5629b6787b20, r1=0x5629b67ad100, r2=0x5629b67b0710) at ospfd/ospf_route.c:700
700		int ret = 0;
(gdb) print *r1
$20 = {type = 2 '\002', id = {s_addr = 3422598154}, mask = {s_addr = 4244635647}, path_type = 2 '\002', paths = 0x5629b67a5880, cost = 20, u = {std = {origin = 0x5629b67ac4d0, area_id = {
        s_addr = 0}, external_routing = 0, options = 2 '\002', flags = 0 '\000'}, ext = {origin = 0x5629b67ac4d0, type2_cost = 0, tag = 0, asbr = 0x2}}}
(gdb) print *r2
$21 = {type = 2 '\002', id = {s_addr = 184598026}, mask = {s_addr = 0}, path_type = 1 '\001', paths = 0x5629b67b11a0, cost = 110, u = {std = {origin = 0x5629b67802d0, area_id = {
        s_addr = 167772160}, external_routing = 2, options = 0 '\000', flags = 0 '\000'}, ext = {origin = 0x5629b67802d0, type2_cost = 167772160, tag = 2, asbr = 0x0}}}
(gdb) bt
#0  ospf_route_cmp (ospf=0x5629b6787b20, r1=0x5629b67ad100, r2=0x5629b67b0710) at ospfd/ospf_route.c:700
#1  0x00005629b5d28f01 in ospf_ia_network_route (ospf=0x5629b6787b20, rt=0x5629b67b13c0, p=0x7ffe092efe70, new_or=0x5629b67ad100, abr_or=0x5629b67b11f0) at ospfd/ospf_ia.c:94
#2  0x00005629b5d294c7 in process_summary_lsa (area=0x5629b67a3820, rt=0x5629b67b13c0, rtrs=0x5629b67ace60, lsa=0x5629b67adb00) at ospfd/ospf_ia.c:267
#3  0x00005629b5d2956e in ospf_examine_summaries (area=0x5629b67a3820, lsdb_rt=0x5629b67a3b40, rt=0x5629b67b13c0, rtrs=0x5629b67ace60) at ospfd/ospf_ia.c:286
#4  0x00005629b5d2a1c9 in ospf_ia_routing (ospf=0x5629b6787b20, rt=0x5629b67b13c0, rtrs=0x5629b67ace60) at ospfd/ospf_ia.c:640
#5  0x00005629b5ce2b55 in ospf_spf_calculate_timer (thread=0x7ffe092f0250) at ospfd/ospf_spf.c:1328
#6  0x00007f40cb259c08 in thread_call (thread=0x7ffe092f0250) at lib/thread.c:1581
#7  0x00007f40cb212ced in frr_run (master=0x5629b65cb4d0) at lib/libfrr.c:1054
#8  0x00005629b5cb176f in main (argc=3, argv=0x7ffe092f0468) at ospfd/ospf_main.c:230
(gdb) continue 
Continuing.

Breakpoint 1, ospf_route_cmp (ospf=0x5629b6787b20, r1=0x5629b67ad100, r2=0x5629b67a9020) at ospfd/ospf_route.c:700
700		int ret = 0;
(gdb) print *r1
$22 = {type = 2 '\002', id = {s_addr = 184598026}, mask = {s_addr = 4294967295}, path_type = 2 '\002', paths = 0x5629b67a5880, cost = 30, u = {std = {origin = 0x5629b67af820, area_id = {
        s_addr = 0}, external_routing = 0, options = 2 '\002', flags = 0 '\000'}, ext = {origin = 0x5629b67af820, type2_cost = 0, tag = 0, asbr = 0x2}}}
(gdb) print *r2
$23 = {type = 2 '\002', id = {s_addr = 184598026}, mask = {s_addr = 0}, path_type = 1 '\001', paths = 0x5629b67aed50, cost = 20, u = {std = {origin = 0x5629b67802d0, area_id = {s_addr = 167772160}, 
      external_routing = 2, options = 0 '\000', flags = 0 '\000'}, ext = {origin = 0x5629b67802d0, type2_cost = 167772160, tag = 2, asbr = 0x0}}}
(gdb) bt
#0  ospf_route_cmp (ospf=0x5629b6787b20, r1=0x5629b67ad100, r2=0x5629b67a9020) at ospfd/ospf_route.c:700
#1  0x00005629b5d28f01 in ospf_ia_network_route (ospf=0x5629b6787b20, rt=0x5629b67b13c0, p=0x7ffe092efe70, new_or=0x5629b67ad100, abr_or=0x5629b67b11f0) at ospfd/ospf_ia.c:94
#2  0x00005629b5d294c7 in process_summary_lsa (area=0x5629b67a3820, rt=0x5629b67b13c0, rtrs=0x5629b67ace60, lsa=0x5629b67aeee0) at ospfd/ospf_ia.c:267
#3  0x00005629b5d2956e in ospf_examine_summaries (area=0x5629b67a3820, lsdb_rt=0x5629b67a3b40, rt=0x5629b67b13c0, rtrs=0x5629b67ace60) at ospfd/ospf_ia.c:286
#4  0x00005629b5d2a1c9 in ospf_ia_routing (ospf=0x5629b6787b20, rt=0x5629b67b13c0, rtrs=0x5629b67ace60) at ospfd/ospf_ia.c:640
#5  0x00005629b5ce2b55 in ospf_spf_calculate_timer (thread=0x7ffe092f0250) at ospfd/ospf_spf.c:1328
#6  0x00007f40cb259c08 in thread_call (thread=0x7ffe092f0250) at lib/thread.c:1581
#7  0x00007f40cb212ced in frr_run (master=0x5629b65cb4d0) at lib/libfrr.c:1054
#8  0x00005629b5cb176f in main (argc=3, argv=0x7ffe092f0468) at ospfd/ospf_main.c:230
(gdb) continue 
Continuing.

Breakpoint 1, ospf_route_cmp (ospf=0x5629b6787b20, r1=0x5629b67a6fe0, r2=0x5629b67a0ff0) at ospfd/ospf_route.c:700
700		int ret = 0;
(gdb) print *r1
$24 = {type = 2 '\002', id = {s_addr = 2159647237}, mask = {s_addr = 3238002687}, path_type = 4 '\004', paths = 0x5629b67b19b0, cost = 110, u = {std = {origin = 0x5629b67b0250, area_id = {
        s_addr = 20}, external_routing = 0, options = 64 '@', flags = 146 '\222'}, ext = {origin = 0x5629b67b0250, type2_cost = 20, tag = 0, asbr = 0x5629b67a9240}}}
(gdb) print *r2
$25 = {type = 2 '\002', id = {s_addr = 2159647237}, mask = {s_addr = 3238002687}, path_type = 4 '\004', paths = 0x5629b67a8e50, cost = 110, u = {std = {origin = 0x5629b67a6e30, area_id = {
        s_addr = 20}, external_routing = 0, options = 64 '@', flags = 146 '\222'}, ext = {origin = 0x5629b67a6e30, type2_cost = 20, tag = 0, asbr = 0x5629b67a9240}}}
(gdb) continue 
Continuing.

Breakpoint 1, ospf_route_cmp (ospf=0x5629b6787b20, r1=0x5629b67a6fe0, r2=0x5629b67afac0) at ospfd/ospf_route.c:700
700		int ret = 0;
(gdb) print *r1
$26 = {type = 2 '\002', id = {s_addr = 3489707018}, mask = {s_addr = 4244635647}, path_type = 4 '\004', paths = 0x5629b67b19b0, cost = 110, u = {std = {origin = 0x5629b67afbd0, area_id = {
        s_addr = 20}, external_routing = 0, options = 64 '@', flags = 146 '\222'}, ext = {origin = 0x5629b67afbd0, type2_cost = 20, tag = 0, asbr = 0x5629b67a9240}}}
(gdb) print *r2
$27 = {type = 2 '\002', id = {s_addr = 3489707018}, mask = {s_addr = 4244635647}, path_type = 4 '\004', paths = 0x5629b67b0630, cost = 110, u = {std = {origin = 0x5629b67b1500, area_id = {
        s_addr = 20}, external_routing = 0, options = 64 '@', flags = 146 '\222'}, ext = {origin = 0x5629b67b1500, type2_cost = 20, tag = 0, asbr = 0x5629b67a9240}}}
(gdb) bt
#0  ospf_route_cmp (ospf=0x5629b6787b20, r1=0x5629b67a6fe0, r2=0x5629b67afac0) at ospfd/ospf_route.c:700
#1  0x00005629b5d2219a in ospf_ase_calculate_route (ospf=0x5629b6787b20, lsa=0x5629b67afbd0) at ospfd/ospf_ase.c:484
#2  0x00005629b5d2288e in ospf_ase_calculate_timer (t=0x7ffe092f0250) at ospfd/ospf_ase.c:673
#3  0x00007f40cb259c08 in thread_call (thread=0x7ffe092f0250) at lib/thread.c:1581
#4  0x00007f40cb212ced in frr_run (master=0x5629b65cb4d0) at lib/libfrr.c:1054
#5  0x00005629b5cb176f in main (argc=3, argv=0x7ffe092f0468) at ospfd/ospf_main.c:230

```

Is clear that the problem is with router with PATH TYPE 4. Other routes clearly have the cost correctly calculated, only those are received with cost 110 on both areas: backbone and NSSA.
Which shouldn't be the case, the preferred path should be BACKBONE.

Kind regards,
Adrian

Hi,

I'm still trying to understand where OSPF is calculating the cost for the routes. Reading the OSPFv2 specifications:

```
Metrics, however, are only directly comparable when of the same type. Four types of metrics are recognized. In decreasing preference, these types are (for example, an intra-area route is always preferred to an External route regardless of metric):

    1. Intra-area
    2. Inter-area
    3. External Type 1, which includes both the external path cost and the sum of internal path costs to the ASBR that advertises the route,[19]
    4. External Type 2, the value of which is solely that of the external path cost,
```

the routes from backbone (intra-area) should be preferred over the  the inter-area.
Maybe somebody can give me a hint were to look in the code.

Kind regard,
Adrian


Hi,

Nobody replicate this issue? Could be fixed in latest releases?

Kind regards,
EasyNet

Check RFC2328, section 16.4.1 "External path preferences" if that could explain your problem (Intra-area paths using non-backbone areas are always the most preferred). Then try to enable RFC1583 compatibility in r1/FRR:
```
r1# conf t
r1(config)# router ospf
r1(config-router)# compatible rfc1583   
r1(config-router)# exit
```
I believe Cisco is using RFC1583 by default while FRR is using RFC2328, that could explain the differences you see. 
Hope it helps!


Thanks. Now I understand the issue. 