OSPFv3 not working on VPN interfaces

Hi all,

I have a VPN between two Ubuntu Servers (16.04.03) that I route over. I have OSPFv2 set up just fine, however OSPFv3 absolutely refuses to send hello packets.

The topology;
TAYLES-RTR-LON1 <------- VPN over WWW -------> TAYLES-RTR-FRA1

Ifconfig output:
```
root@tayles-rtr-lon1:~# ifconfig lon1-fra1
lon1-fra1 Link encap:UNSPEC  HWaddr 00-00-00-00-00-00-00-00-00-00-00-00-00-00-00-00
          inet addr:172.20.227.166  P-t-P:172.20.227.167  Mask:255.255.255.255
          inet6 addr: fd00:9990::160:164:1/127 Scope:Global
          UP POINTOPOINT RUNNING NOARP  MTU:1420  Metric:1
          RX packets:247 errors:0 dropped:0 overruns:0 frame:0
          TX packets:386 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:1
          RX bytes:18000 (18.0 KB)  TX bytes:43132 (43.1 KB)
```
```
root@tayles-rtr-fra1:~# ifconfig lon1-fra1
lon1-fra1 Link encap:UNSPEC  HWaddr 00-00-00-00-00-00-00-00-00-00-00-00-00-00-00-00
          inet addr:172.20.227.167  P-t-P:172.20.227.166  Mask:255.255.255.254
          inet6 addr: fd00:9990::160:164:2/127 Scope:Global
          UP POINTOPOINT RUNNING NOARP  MTU:1420  Metric:1
          RX packets:22607 errors:0 dropped:0 overruns:0 frame:0
          TX packets:15883 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:1
          RX bytes:1512455 (1.5 MB)  TX bytes:1869464 (1.8 MB)
```

Proof of connectivity:
```
root@tayles-rtr-lon1:~# ping6 fd00:9990::160:164:2
PING fd00:9990::160:164:2(fd00:9990::160:164:2) 56 data bytes
64 bytes from fd00:9990::160:164:2: icmp_seq=1 ttl=64 time=18.3 ms
64 bytes from fd00:9990::160:164:2: icmp_seq=2 ttl=64 time=18.0 ms
64 bytes from fd00:9990::160:164:2: icmp_seq=3 ttl=64 time=18.0 ms
^C
--- fd00:9990::160:164:2 ping statistics ---
3 packets transmitted, 3 received, 0% packet loss, time 2003ms
rtt min/avg/max/mdev = 18.053/18.162/18.368/0.212 ms

```

tcpdump shows OSPFv2 hello, but no OSPFv3 hello.

```
root@tayles-rtr-lon1:~# tcpdump -i lon1-fra1
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on lon1-fra1, link-type RAW (Raw IP), capture size 262144 bytes
11:54:08.021228 IP 172.20.227.166 > ospf-all.mcast.net: OSPFv2, Hello, length 48
11:54:13.253655 IP 172.20.227.167 > ospf-all.mcast.net: OSPFv2, Hello, length 48
11:54:16.504903 IP 172.20.227.160.34063 > 172.20.227.164.bgp: Flags [S], seq 1162085951, win 27600, options [mss 1380,sackOK,TS val 487696 ecr 0,nop,wscale 6], length 0
11:54:18.022292 IP 172.20.227.166 > ospf-all.mcast.net: OSPFv2, Hello, length 48
11:54:23.254207 IP 172.20.227.167 > ospf-all.mcast.net: OSPFv2, Hello, length 48
11:54:28.023413 IP 172.20.227.166 > ospf-all.mcast.net: OSPFv2, Hello, length 48
```
```
root@tayles-rtr-fra1:~# tcpdump -i lon1-fra1
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on lon1-fra1, link-type RAW (Raw IP), capture size 262144 bytes
11:54:28.035015 IP 172.20.227.166 > ospf-all.mcast.net: OSPFv2, Hello, length 48
11:54:33.247830 IP 172.20.227.167 > ospf-all.mcast.net: OSPFv2, Hello, length 48
11:54:38.035238 IP 172.20.227.166 > ospf-all.mcast.net: OSPFv2, Hello, length 48
11:54:43.248067 IP 172.20.227.167 > ospf-all.mcast.net: OSPFv2, Hello, length 48
11:54:48.038397 IP 172.20.227.166 > ospf-all.mcast.net: OSPFv2, Hello, length 48
11:54:53.248279 IP 172.20.227.167 > ospf-all.mcast.net: OSPFv2, Hello, length 48
11:54:58.036920 IP 172.20.227.166 > ospf-all.mcast.net: OSPFv2, Hello, length 48
11:55:03.248502 IP 172.20.227.167 > ospf-all.mcast.net: OSPFv2, Hello, length 48
```

The configuration:
```

TAYLES-RTR-LON1
router ospf6
 router-id 172.20.227.160
 interface lon1-fra1 area 0.0.0.0

TAYLES-RTR-FRA1
router ospf6
 router-id 172.20.227.164
 interface lon1-fra1 area 0.0.0.0

```

"show ipv6 ospf6 interface lon1-fra1" shows the same on both routers and what I believe to be the cause, but cannot seem to fix it:

```
tayles-rtr-lon1# show ipv6 ospf6 interface lon1-fra1
lon1-fra1 is up, type POINTOPOINT
  Interface ID: 3
  Internet Address:
    inet : 172.20.227.166/32
    inet6: fd00:9990::160:164:1/127
  Instance ID 0, Interface MTU 1420 (autodetect: 1420)
  MTU mismatch detection: enabled
  Area ID 0.0.0.0, Cost 10
  State Down, Transmit Delay 1 sec, Priority 1
  Timer intervals configured:
   Hello 10, Dead 40, Retransmit 5
  DR: 0.0.0.0 BDR: 0.0.0.0
  Number of I/F scoped LSAs is 0
    0 Pending LSAs for LSUpdate in Time 00:00:00 [thread off]
    0 Pending LSAs for LSAck in Time 00:00:00 [thread off]
```
```
tayles-rtr-fra1# show ipv6 ospf6 interface lon1-fra1
lon1-fra1 is up, type POINTOPOINT
  Interface ID: 8
  Internet Address:
    inet : 172.20.227.167/31
    inet6: fd00:9990::160:164:2/127
  Instance ID 0, Interface MTU 1420 (autodetect: 1420)
  MTU mismatch detection: enabled
  Area ID 0.0.0.0, Cost 10
  State Down, Transmit Delay 1 sec, Priority 1
  Timer intervals configured:
   Hello 10, Dead 40, Retransmit 5
  DR: 0.0.0.0 BDR: 0.0.0.0
  Number of I/F scoped LSAs is 0
    0 Pending LSAs for LSUpdate in Time 00:00:00 [thread off]
    0 Pending LSAs for LSAck in Time 00:00:00 [thread off]

```

Let me know if there's anymore output I can provide!

@ashleytayles -> OSPFv3 assumes that the Interface in question has a link local address:
```	/* check interface has a link-local address */
	if (!(ospf6_interface_get_linklocal_address(oi->interface)
	      || if_is_loopback(oi->interface))) {
		if (IS_OSPF6_DEBUG_INTERFACE)
			zlog_debug(
				"Interface %s has no link local address, can't execute [InterfaceUp]",
				oi->interface->name);
		return 0;
	}
```
else it will never bring up the interface for usage.  From the above output I do not see a LL address for the interface.


@ashleytayles your configuration is in violation of RFC 4291 section 2.1:
https://tools.ietf.org/html/rfc4291#section-2.1
```
2.1.  Addressing Model
[...]
   All interfaces are required to have at least one Link-Local unicast
   address (see Section 2.8 for additional required addresses).
```

Please add an IPv6 link-local address and it should work just fine. If it still doesn't, please reopen this issue :)

Thanks guys, I was unaware of this requirement and used to physical interfaces EUI'ing the link locals! Thank you for your time and knowledge.