FRR 2038 safety

I'm opening this issue to track the detected coverity scan Y2K38_SAFETY detected problems.

Some of these problems are being addressed here: #12682 .

The other problems require a more elaborated solution and will probably require breaking interfaces, so here is a summary of them:

`fabricd`
---

CID 1519775 and 1519822: `isisd` YANG model notifications for LSP are using/receiving a type which only has 32 bits for handling time:

   ```yang
   notification lsp-received {
     /* ... */
     leaf received-timestamp {
       type yang:timestamp;
       description
         "Timestamp when the LSP was received.";
     }
   }

   /* ... */

   notification lsp-generation {
       /* ... */
       leaf send-timestamp {
         type yang:timestamp;
         description
           "Timestamp when our LSP was regenerated.";
       }
    }
   ```

   As of writing this is the definition of `yang:timestamp` (from [RFC 6991](https://www.rfc-editor.org/rfc/rfc6991.html)) is:

   ```yang
   typedef timeticks {
          type uint32;
          description
           "The timeticks type represents a non-negative integer that
            represents the time, modulo 2^32 (4294967296 decimal), in
            hundredths of a second between two epochs.  When a schema
            node is defined that uses this type, the description of
            the schema node identifies both of the reference epochs.

            In the value set and its semantics, this type is equivalent
            to the TimeTicks type of the SMIv2.";
          reference
           "[RFC 2578](https://www.rfc-editor.org/rfc/rfc2578): Structure of Management Information Version 2
                      (SMIv2)";
     }

     typedef timestamp {
       type yang:timeticks;
       description
        "The timestamp type represents the value of an associated
         timeticks schema node at which a specific occurrence
         happened.  The specific occurrence must be defined in the
         description of any schema node defined using this type.  When
         the specific occurrence occurred prior to the last time the
         associated timeticks attribute was zero, then the timestamp
         value is zero.  Note that this requires all timestamp values
         to be reset to zero when the value of the associated timeticks
         attribute reaches 497+ days and wraps around to zero.

         The associated timeticks schema node must be specified
         in the description of any schema node using this type.

         In the value set and its semantics, this type is equivalent
         to the TimeStamp textual convention of the SMIv2.";
       reference
        "[RFC 2579](https://www.rfc-editor.org/rfc/rfc2579): Textual Conventions for SMIv2";
     }
   ```

   The code that needs to be fixed:

   ```c
   #ifndef FABRICD
   	/* send northbound notification */
	isis_notif_lsp_gen(area, newlsp->hdr.lsp_id, newlsp->hdr.seqno,
			   newlsp->last_generated);
   #endif /* ifndef FABRICD */
   ```

   ( https://github.com/FRRouting/frr/blob/master/isisd/isis_lsp.c#L1444 )


   And

   ```c
   #ifndef FABRICD
	/* send northbound notification */
	isis_notif_lsp_received(circuit, hdr.lsp_id, hdr.seqno, time(NULL),
				sysid_print(hdr.lsp_id));
   #endif /* ifndef FABRICD */
   ```

   ( https://github.com/FRRouting/frr/blob/master/isisd/isis_pdu.c#L878 )

`bgpd`
---

1. CID 1519734 and 1519810: `bgpd`'s [`rfapiFormatSeconds`](https://github.com/FRRouting/frr/blob/master/bgpd/rfapi/rfapi_vty.c#L69) needs to handle `time_t` new storage size (or use a standardized function for time output formatting).

2. CID 1519807: `bgpd` file dumping format in [`bgp_dump_header`](https://github.com/FRRouting/frr/blob/master/bgpd/bgp_dump.c#L194) needs to be changed to use larger storage for time (**will change format written to file and break things**).

   ```c
   	gettimeofday(&clock, NULL);

	secs = clock.tv_sec; /* <== time truncation */
	msecs = clock.tv_usec;

	/* Put dump packet header. */
	stream_putl(obuf, secs); /* Will write to file 32bit value instead of 64bit (replace with `stream_putq`) */
   ```

3. CID 1519740: `bgpd` SNMP is using [32bit value](https://github.com/FRRouting/frr/blob/master/bgpd/bgp_mplsvpn_snmp.c#L970) to represent time.

   ```c
   	case MPLSL3VPNVRFCREATIONTIME:
		return SNMP_INTEGER(
			(uint32_t)l3vpn_bgp->snmp_stats->creation_time);
   ```