Malformed communities attribute '31210:0:31210'

I am using FRR10.2 ubuntu 24.04.  when i setup 31210:0:31210 communities, it is show : Malformed communities attribute '31210:0:31210'

https://bgp.he.net/AS31210#_whois
Route-servers DO NOT modify, process or remove communities received from customers except
remarks:        those which are processed by the route-servers themselves:
remarks:        +-------------+--------------------+-------------------+---------------------------------------+
remarks:        | RFC1997     | RFC4360            | RFC8092           |  Meaning                              |
remarks:        +-------------+--------------------+-------------------+---------------------------------------+
remarks:        | 0:31210     | target:0:31210     | 31210:0:31210     |  Do not announce route to any peer    |
remarks:        | 0:X         | target:0:X         | 31210:0:X         |  Do not announce route to AS X        |
remarks:        | 31210:X     | target:31210:X     | 31210:31210:X     |  Announce route only to AS X          |
remarks:        | 31210:31210 | target:31210:31210 | 31210:31210:31210 |  Announce route to all peers (default)|
remarks:        +-------------+--------------------+-------------------+---------------------------------------+

Show us first how you configure it...

>When I use the command to add 31210:0:31210 to route-map 303686 permit 50, it shows a format error

Show the whole command you are entering.

X:X:X is a large community, don't mix with community. Use set large-community...