Frrouting ignoring address witch loopback interface or local addressing

**Describe the bug**
A clear and concise description of what the bug is.

(put "x" in "[ ]" if you already tried following)
[ ] Did you check if this is a duplicate issue?
[x ] Did you test it on the latest FRRouting/frr master branch?


**To Reproduce**
Steps to reproduce the behavior:
1. Enter
```
conf t
interface lo
ip address 192.168.7.2/32
```

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
Add routing from loopback interfaces and announce the route from BGP or other routing protocol

**Versions**
 - OS Kernel: Linux 5.7.12
 - FRR Version: 7.4

**Additional context**
FRR routing table:
```
archlinux# sh ip route 
Codes: K - kernel route, C - connected, S - static, R - RIP,
       O - OSPF, I - IS-IS, B - BGP, E - EIGRP, N - NHRP,
       T - Table, v - VNC, V - VNC-Direct, A - Babel, D - SHARP,
       F - PBR, f - OpenFabric,
       > - selected route, * - FIB route, q - queued route, r - rejected route

K>* 0.0.0.0/0 [0/0] via 198.18.50.1, ens3, 00:18:23
B>* 192.168.5.0/30 [200/0] via 192.168.5.5, arch0, weight 1, 00:11:51
C>* 192.168.5.4/30 is directly connected, arch0, 00:18:23
C>* 192.168.5.8/30 is directly connected, ns-host.0, 00:18:23
C>* 192.168.6.1/32 is directly connected, lo, 00:18:23
S   192.168.7.2/32 [1/0] is directly connected, lo, weight 1, 00:06:57
C>* 192.168.7.2/32 is directly connected, lo, 00:18:23
C>* 198.18.50.1/32 is directly connected, ens3, 00:18:23
```
System routing table:
```
[root@archlinux user]# ip r
default via 198.18.50.1 dev ens3 proto static 
192.168.5.0/30 nhid 29 via 192.168.5.5 dev arch0 proto bgp metric 20 
192.168.5.4/30 dev arch0 proto kernel scope link src 192.168.5.6 
192.168.5.8/30 dev ns-host.0 proto kernel scope link src 192.168.5.9 
198.18.50.1 dev ens3 proto kernel scope link src 198.18.50.18 
```
Also the routers not announce from BGP.


did you check this @startup of FRR? As far as i know, FRR only sets the IP's at startup and if you use e.g. ifupdown2 it will remove it again. We had this same problem and made sure its _also_ added onto the networking config. Maybe worth checking out if this is similair for you.

hi this issue is pretty recent for me on  : CentOS Linux release 8.2.2004 (Core) 

Having a CI always installing frr using stable rpm  : https://rpm.frrouting.org/repo/frr-stable-repo-1-0.el8.noarch.rpm
Last succesfull  install and anycast test was on 8/18   and first failure with same issue as described above is on on 8/20

How can i get the latest previous stable rpm ?

DO i need to build from source? 
@kruisdraad  I indeed use ifconfig to add virtual loopback interface with anycast ip when env is contairized  . Is this a new rule in frr to flush this custom setup .? 






ok so i am finally able to use 7.3.1 again  rpm and my loopback /anycast issues are fixed .

Still have issue with 7.4 from official stable rpm

Add a `redistribute connected` to your bgp config. A new security thing was added in 7.4 so that routes that are directly connected are not implicitly distributed. Loopback counts for this.

```
RFC 8212 is now enabled by default

   BGP routing security issues need to be addressed in order to make the
   Internet more stable.  Route leaks [RFC7908] are part of the problem,
   but software defects or operator misconfiguration can also
   contribute.  This document updates [RFC4271] so that routes are
   neither imported nor exported unless specifically enabled by
   configuration.  This change reduces the consequences of these
   problems and improves the default level of Internet routing security.
```

@ethanspitz how does this relates to BGP at all? its configuring an IP on an interface ...

Well the ticket was pretty lackluster in the details filed, but the very last thing it says is

> Also the routers not announce from BGP.
Which I was trying to address

I've called this out more explicitly in the release notes. Sorry about the confusion.

> I've called this out more explicitly in the release notes. Sorry about the confusion.

Awesome! Yeah I spent a solid 4 hours trying to figure that out after we upgraded! 😂