BFD document is not align with the code(detect-multiplier)

### Description

I think this section of the document needs to be updated.
detect-multiplier (1-255):
[](https://docs.frrouting.org/en/latest/bfd.html#clicmd-detect-multiplier-1-255)
Configures the detection multiplier to determine packet loss. The remote transmission interval will be multiplied by this value to determine the connection loss detection timer. The default value is 3.

Example: when the local system has detect-multiplier 3 and the remote system has transmission interval 300, the local system will detect failures only after 900 milliseconds without receiving packets.

As per the code : 
The detection timeout is calculated by multiplying the detection multiplier with the greater value between the local receive (RX) and remote transmit (TX) intervals.
	/*
	 * Detection timeout calculation:
	 * The minimum detection timeout is the remote detection
	 * multipler (number of packets to be missed) times the agreed
	 * transmission interval.
	 *
	 * RFC 5880, Section 6.8.4.
	 */
	if (bfd->cur_timers.required_min_rx > bfd->remote_timers.desired_min_tx)
		bfd->detect_TO = bfd->remote_detect_mult
				 * bfd->cur_timers.required_min_rx;
	else
		bfd->detect_TO = bfd->remote_detect_mult
				 * bfd->remote_timers.desired_min_tx;


### Version

```text
10.03
```

### How to reproduce

NA

### Expected behavior

Document update require.

### Actual behavior

Document update require.

### Additional context

_No response_

### Checklist

- [x] I have searched the open issues for this bug.
- [x] I have not included sensitive information in this report.