NEXT_HOP Path Attribute Usage

I am trying to test FRR against RFC 4271, specifically section 5.1.3:

"A route originated by a BGP speaker SHALL NOT be advertised to a peer  using an address of that peer as NEXT_HOP."

FRR does not seem to follow that requirement.

[X] Did you check if this is a duplicate issue?
[ ] Did you test it on the latest FRRouting/frr master branch?


**To Reproduce**
Steps to reproduce the behavior:

Configure 2 directly connected routers.

------------------------
Configure router R1:

interface sw1p10
 ip address 10.10.10.10/24
!
router bgp 1
 bgp router-id 10.10.14.10
 neighbor 10.10.10.60 remote-as 2
 address-family ipv4 unicast
  redistribute static
 exit-address-family
!

------------------------
Configure router R2

interface sw1p10
 ip address 10.10.10.60/24
!
router bgp 2
 bgp router-id 10.1.255.2
 neighbor 10.10.10.10 remote-as 1
!

----------------
Then on router R1 add a static route:

ip route 5.5.5.0/24 10.10.10.60


**Expected behavior**
According ro RFC 4271 section 5.1.3, an update message should not be sent to peer 10.10.10.60 which is the value of the NEXT_HOP.  
In this scenario, R1 does send an update to R2, contrary to the RFC requirements.


**Versions**
 - FRR Version [6.0.2]


I think this is not possible by current design to simply deny outgoing advertisements when next-hop belongs to peer. In such cases, you have to split the existing update group into independent groups or somehow to remove a decent peer from an update group. 

@polychaeta autoclose in 1 week.