Transmitting RAs with lifetime=0 when removing interfaces leads to outages when the gateway is anycasted

### Description

When FRR is deployed to multiple nodes in a network deployment where the gateway on a L2 segment is anycasted and therefore present on all nodes (with the same MAC and IP), transmitting RAs with lifetime=0 when the anycast gateway role is being removed from *one* (out of several) nodes running FRR. This is because the RA will be received by all downstream nodes on the L2 segment, and they will react to it by removing the default route.

To better support anycast deployments, it would be beneficial if it was possible to configure FRR to *not* send RAs with lifetime=0 when an interface is de-provisioned.

### Version

```text
FRRouting 10.5.3 (frr1) on Linux(5.14.0-611.20.1.el9_7.x86_64).
Copyright 1996-2005 Kunihiro Ishiguro, et al.
configured with:
    '--build=x86_64-redhat-linux-gnu' '--host=x86_64-redhat-linux-gnu' '--program-prefix=' '--disable-dependency-tracking' '--prefix=/usr' '--exec-prefix=/usr' '--bindir=/usr/bin' '--datadir=/usr/share' '--includedir=/usr/include' '--libdir=/usr/lib64' '--libexecdir=/usr/libexec' '--sharedstatedir=/var/lib' '--mandir=/usr/share/man' '--infodir=/usr/share/info' '--sbindir=/usr/lib/frr' '--sysconfdir=/etc' '--localstatedir=/var' '--disable-static' '--disable-werror' '--enable-multipath=256' '--enable-vtysh' '--enable-ospfclient' '--enable-ospfapi' '--enable-ldpd' '--enable-pimd' '--enable-pim6d' '--enable-pbrd' '--enable-nhrpd' '--enable-eigrpd' '--enable-babeld' '--enable-vrrpd' '--enable-user=frr' '--enable-group=frr' '--enable-vty-group=frrvty' '--enable-fpm' '--enable-watchfrr' '--disable-bgp-vnc' '--enable-isisd' '--enable-doc' '--enable-rpki' '--enable-bfdd' '--enable-pathd' '--disable-grpc' '--enable-snmp' '--disable-zeromq' '--enable-pcre2posix' 'build_alias=x86_64-redhat-linux-gnu' 'host_alias=x86_64-redhat-linux-gnu' 'PKG_CONFIG_PATH=:/usr/lib64/pkgconfig:/usr/share/pkgconfig' 'CC=gcc' 'CXX=g++' 'LT_SYS_LIBRARY_PATH=/usr/lib64:'
```

### How to reproduce

Start with two (or more) L3 gateways nodes connected to the same L2 segment, with an anycasted SVI/IRB with the same MAC address and link-local IPv6 address.

Ensure all FRR nodes contain configuration for transmitting RAs in frr.conf, e.g.:

```
interface vlan1234
 no ipv6 nd suppress-ra
exit
```

Next, de-provision the SVI/IRB on one of the gateways, by removing the above config snippet from frr.conf and reloading. The frr-reload.py script implements the change by issuing the following commands (could also be run from vtysh directly of course):

```
configure
interface vlan1234
ipv6 nd suppress-ra
```



### Expected behavior

Hosts on the L2 segment are not impacted and are able to send traffic to off-link destinations via the SVIs on the remaining FRR instances.

### Actual behavior

FRR immediately sends out an RA with lifetime=0 and downstream hosts on the L2 segment delete the default route from their routing tables, causing a loss of connectivity to all off-link destinations. (Connectivity is restored after a while, when one of the other FRR instances transmits a periodic RA with non-zero lifetime.)

### Additional context

[rtadv.c](https://github.com/FRRouting/frr/blob/master/zebra/rtadv.c) contains several references to [RFC 4861 section 6.2.5](https://www.rfc-editor.org/rfc/rfc4861#section-6.2.5), which explains why the default behaviour is what it is.

However, the RFC only says this behaviour is a `SHOULD`-level requirement, so deviating from it when it is sensible to do so is permitted.

### Checklist

- [x] I have searched the open issues for this bug.
- [x] I have not included sensitive information in this report.

What does the IPv6 addressing look like in your scenario? And how is the anycast implemented, is this EVPN Multihoming?

Also, wouldn't you be removing the entire link-local address rather than the RA? If the LLA is still there and you just remove the RA it'll break things regardless.

Ah, sorry, you did say anycasted SVI in the middle, I missed that.

On a purely "technically correct" level I'll say you really need to remove the entire address rather than the RA. That said I'm not sure we behave correctly in that case either, need to check. (Should, though.)

Linux is kinda smudging this over since you'll get Router=1 in neighbor advertisements as long as forwarding is enabled, but if that's disabled too then sending lifetime=0 RAs is irrelevant since hosts will deconfigure the route anyway on receiving an NA with R=0, regardless of any RAs.

We are using EVPN, but we are not using EVPN Multihoming. FRR is deployed to a number of hypervisors, which provide connectivity to local VMs by way of VLANs configured in a local bridge device. L3 connectivity to the external network is provided by an anycasted gateway IP/MAC using SVIs, and inter-hypervisor L2 connectivity is provided by VXLAN L2VNI devices.

It's when a specific VLAN is no longer needed on a specific hypervisor that the issue occurs. This can happen because the last VM on that particular VLAN was shut down, or migrated to another hypervisor. In this case, all of the above is decommissioned, including the `interface vlan1234` block in FRR. So it does «remove the entire address», as you say, indeed the entire SVI netdev.

The FRR reload happens a few milliseconds before the SVI and L2VNI netdevs are deleted though, so FRR has time to send the RA with lifetime=0, which is then sent to all other hypervisors via the L2VNI device and reaches all the VMs running on that VLAN on all remote hypervisors, and those VMs will then remove their default route - resulting in an outage until a periodic RA is sent.

At no point during this process is forwarding disabled (the hypervisor might still have many other SVIs in active use which are not being decommissioned, after all), so there is no risk of getting NAs with R=0.

Anyway, I have found a way to work around it, by simply dropping the outbound RAs with lifetime=0 with Netfilter, like so:

```
#!/usr/sbin/nft -f

destroy table ip6 drop_ra_lt0
add table ip6 drop_ra_lt0
add chain ip6 drop_ra_lt0 output { type filter hook output priority filter; }
add rule ip6 drop_ra_lt0 output icmpv6 type nd-router-advert @th,48,16 0 drop
```

It's a bit of a hack though. It would have been nicer if I could have stopped FRR from sending the problematic RAs in the first place.

Immediate thought (without fully thinking everything through yet, more later)…

> The FRR reload happens a few milliseconds before the SVI and L2VNI netdevs are deleted though, so FRR has time to send the RA with lifetime=0,

Would it be sufficient to just delay the lifetime=0 RA? It's not a great solution since it's inherently creating a race (i.e. what happens if the system is under load and the SVI removal takes 1.1s to go through but the RA was only delayed 1s). But generally speaking, a reconfiguration holdoff is a generically useful feature and would cover both your case as well as people deleting and immediately re-adding things for whatever reason.

(Straight up removing the lt=0 RA isn't really an option, while it's only a SHOULD it is relevant to make a whole bunch of reconfiguration and renumbering scenarios work well. We could do something like `ip nd suppress-ra no-withdraw`, but if there's a general solution that'd be preferable…)

I agree a delay is not a great solution. Not only because it is creating a race condition, but also because it would cause an unnecessary fail-over delay and potentially outage in non-anycasted multi-router deployments where one router is shutting down, and it is desired that hosts quickly fail over to the other(s). For the same reason I certainly do not propose to straight up remove the LT=0 RA functionality either.

I'd much prefer explicit configuration allowing the operator to disable it, like the `ip nd suppress-ra no-withdraw` option you describe. (The name you propose does strike me as a bit non-intuitive but I won't start bikeshedding alternatives now.)