BGPd: confederation peers not considered internal

## Issue

- _Description:_ BGP confederation peer(s) not considered internal, if neighbour Autonomous System Number is different from local Autonomous System Number.

### Logs

```
ansible@debian:~$ vtysh -f /etc/frr/frr.conf

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 256: Failure to communicate[13] to bgpd, line:  neighbor 172.20.230.4 peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 262: Failure to communicate[13] to bgpd, line:  neighbor fd00:aaaa:251:0:910d:5bf3:55f5:db63 peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 269: Failure to communicate[13] to bgpd, line:  neighbor 172.20.230.5 peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 275: Failure to communicate[13] to bgpd, line:  neighbor fd00:aaaa:251:0:f335:a16f:74d6:e533 peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 282: Failure to communicate[13] to bgpd, line:  neighbor 172.20.230.6 peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 288: Failure to communicate[13] to bgpd, line:  neighbor fd00:aaaa:251:0:289a:f4a4:94ea:712b peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 295: Failure to communicate[13] to bgpd, line:  neighbor 172.20.230.7 peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 301: Failure to communicate[13] to bgpd, line:  neighbor fd00:aaaa:251:0:a0c:fae4:46d3:5c32 peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 308: Failure to communicate[13] to bgpd, line:  neighbor 172.20.230.8 peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 314: Failure to communicate[13] to bgpd, line:  neighbor fd00:aaaa:251:0:d76b:3002:c67:71cc peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 321: Failure to communicate[13] to bgpd, line:  neighbor 172.20.230.9 peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 327: Failure to communicate[13] to bgpd, line:  neighbor fd00:aaaa:251:0:71f0:e3dd:371:a15d peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 334: Failure to communicate[13] to bgpd, line:  neighbor 172.20.230.10 peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 340: Failure to communicate[13] to bgpd, line:  neighbor fd00:aaaa:251:0:c8d3:b45b:3782:73f9 peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 347: Failure to communicate[13] to bgpd, line:  neighbor 172.20.230.11 peer-group ibgppeer

% Peer with AS 4294000840 cannot be in this peer-group, members must be all internal or all external
line 353: Failure to communicate[13] to bgpd, line:  neighbor fd00:aaaa:251:0:b698:5e53:5366:b81b peer-group ibgppeer
```

#### Configuration except Autonomous System Numbers used in the set-up

```
router bgp 4294000840
 bgp confederation identifier 4242420144
 bgp confederation peers 4294000100 4294000276 4294000528 4294000826 4294000756 4294000036 4294000702
 !
 neighbor ibgppeer peer-group
 neighbor ibgppeer advertisement-interval 5
 neighbor ibgppeer bfd check-control-plane-failure
 neighbor ibgppeer capability dynamic
 neighbor ibgppeer capability extended-nexthop
 neighbor ibgppeer description IBGP PEER
 neighbor ibgppeer disable-connected-check
 neighbor ibgppeer solo
 neighbor ibgppeer strict-capability-match
 neighbor ibgppeer timers 100 300
 neighbor ibgppeer timers connect 120
 neighbor ibgppeer ttl-security hops 15
 !
 neighbor 172.20.230.0 remote-as 4294000276
 neighbor 172.20.230.0 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:fb36:3896:e4ba:8fea remote-as 4294000276
 neighbor fd00:aaaa:251:0:fb36:3896:e4ba:8fea peer-group ibgppeer
 neighbor 172.20.230.1 remote-as 4294000100
 neighbor 172.20.230.1 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:da0d:40fb:158:c22e remote-as 4294000100
 neighbor fd00:aaaa:251:0:da0d:40fb:158:c22e peer-group ibgppeer
 neighbor 172.20.230.2 remote-as 4294000826
 neighbor 172.20.230.2 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:28d2:cfd1:824d:d308 remote-as 4294000826
 neighbor fd00:aaaa:251:0:28d2:cfd1:824d:d308 peer-group ibgppeer
 neighbor 172.20.230.3 remote-as 4294000528
 neighbor 172.20.230.3 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:d28a:fdc1:2c28:9c1e remote-as 4294000528
 neighbor fd00:aaaa:251:0:d28a:fdc1:2c28:9c1e peer-group ibgppeer
 neighbor 172.20.230.4 remote-as 4294000840
 neighbor 172.20.230.4 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:910d:5bf3:55f5:db63 remote-as 4294000840
 neighbor fd00:aaaa:251:0:910d:5bf3:55f5:db63 peer-group ibgppeer
 neighbor 172.20.230.5 remote-as 4294000840
 neighbor 172.20.230.5 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:f335:a16f:74d6:e533 remote-as 4294000840
 neighbor fd00:aaaa:251:0:f335:a16f:74d6:e533 peer-group ibgppeer
 neighbor 172.20.230.6 remote-as 4294000840
 neighbor 172.20.230.6 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:289a:f4a4:94ea:712b remote-as 4294000840
 neighbor fd00:aaaa:251:0:289a:f4a4:94ea:712b peer-group ibgppeer
 neighbor 172.20.230.7 remote-as 4294000840
 neighbor 172.20.230.7 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:a0c:fae4:46d3:5c32 remote-as 4294000840
 neighbor fd00:aaaa:251:0:a0c:fae4:46d3:5c32 peer-group ibgppeer
 neighbor 172.20.230.8 remote-as 4294000840
 neighbor 172.20.230.8 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:d76b:3002:c67:71cc remote-as 4294000840
 neighbor fd00:aaaa:251:0:d76b:3002:c67:71cc peer-group ibgppeer
 neighbor 172.20.230.9 remote-as 4294000840
 neighbor 172.20.230.9 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:71f0:e3dd:371:a15d remote-as 4294000840
 neighbor fd00:aaaa:251:0:71f0:e3dd:371:a15d peer-group ibgppeer
 neighbor 172.20.230.10 remote-as 4294000840
 neighbor 172.20.230.10 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:c8d3:b45b:3782:73f9 remote-as 4294000840
 neighbor fd00:aaaa:251:0:c8d3:b45b:3782:73f9 peer-group ibgppeer
 neighbor 172.20.230.11 remote-as 4294000840
 neighbor 172.20.230.11 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:b698:5e53:5366:b81b remote-as 4294000840
 neighbor fd00:aaaa:251:0:b698:5e53:5366:b81b peer-group ibgppeer
 neighbor 172.20.230.13 remote-as 4294000276
 neighbor 172.20.230.13 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:fabd:db4c:693f:758f remote-as 4294000276
 neighbor fd00:aaaa:251:0:fabd:db4c:693f:758f peer-group ibgppeer
 neighbor 172.20.230.14 remote-as 4294000756
 neighbor 172.20.230.14 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:4cd5:3054:b7d0:5173 remote-as 4294000756
 neighbor fd00:aaaa:251:0:4cd5:3054:b7d0:5173 peer-group ibgppeer
 neighbor 172.20.230.15 remote-as 4294000036
 neighbor 172.20.230.15 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:e76d:64af:ef5f:7b5b remote-as 4294000036
 neighbor fd00:aaaa:251:0:e76d:64af:ef5f:7b5b peer-group ibgppeer
 neighbor 172.20.230.16 remote-as 4294000702
 neighbor 172.20.230.16 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:dfb2:fa69:9984:1e50 remote-as 4294000702
 neighbor fd00:aaaa:251:0:dfb2:fa69:9984:1e50 peer-group ibgppeer
 neighbor 172.20.230.17 remote-as 4294000276
 neighbor 172.20.230.17 peer-group ibgppeer
 neighbor fd00:aaaa:251:0:7d58:ea76:24f:94f4 remote-as 4294000276
 neighbor fd00:aaaa:251:0:7d58:ea76:24f:94f4 peer-group ibgppeer
```

### Software

- FRRouting v7.3.1-1 (from Debian unstable repository)
- Debian: 10 (stable) 64bit
```
ansible@debian:~$ dpkg -l | grep FRRouting
ii  frr                            7.3.1-1                      amd64        FRRouting suite of internet protocols (BGP, OSPF, IS-IS, ...)
ii  frr-doc                        7.3.1-1                      all          FRRouting suite - user manual
ii  frr-pythontools                7.3.1-1                      all          FRRouting suite - Python tools
ii  frr-rpki-rtrlib                7.3.1-1                      amd64        FRRouting suite - BGP RPKI support (rtrlib)
ii  frr-snmp                       7.3.1-1                      amd64        FRRouting suite - SNMP support
```

### Footnotes

- The issue may be closed if the coding effort for the change is not considered worth the effort. The GitHub issue is primarily filed to serve as (un-)official documentation of the issue existing.
- BGP confed's are deployed by a select large T2 and T1's in our current age.

### RFC's on the topic

- [RFC 1965 (experimental, '96)](https://tools.ietf.org/html/rfc1965)
- [RFC 3065 (proposed standard, '01)](https://tools.ietf.org/html/rfc3065)
- [RFC 5065 (draft standard, '07)](https://tools.ietf.org/html/rfc5065)

Not sure if I understood your _problem_ here. peer-group MUST be all external or all internal and not mixed. You didn't specify remote-as under peer-group, hence it becomes the type (external/internal) of the first peer's. In your case it's `172.20.230.0`, which is external. 

Other vendors allow this behavior?

Well, this is as expected. I see Cisco behaves the same. 

@polychaeta autoclose in 1 week.

@ton31337 now, being vendor agnostic and w/o compare with other products. What you think about this behavior? I consider that confed should be tracted as IBGP - in fact it's implemented normally to avoid RR or fullmesh. 

If we are comparing FRR with other routing daemons let's choose more than one, at least three: IOS-XR, JunOS and SR-OS (to have "quorum" on decisions :stuck_out_tongue_closed_eyes:)

Thanks for your time @ton31337.



This issue will no longer be automatically closed.

So, I ask you, how it looks in JunOS, SR, XR?

@polychaeta autoclose in 1 week.