OSPF allows Virtual Link establishment between non-ABR routers

### Description

In FRRouting OSPF implementation, Virtual Links (VLink) can be established between two routers that are **not Area Border Routers (ABRs)**, which contradicts the OSPF RFCs that require both ends of a virtual link to be ABRs.

Quote OSPF RFC2328, Section 15:
```
 Virtual links serve to connect physically separate components of the backbone.  **The two endpoints of a virtual link are area border routers**.
```

### Version

```text
latest
```

### How to reproduce

Set up an OSPF network with two routers (R1 and R2) that are not ABRs.

Configure a Virtual Link between R1 and R2:
R1:
```
int r1-eth0
   ip address XXX
   ip opsf area 1
router ospf
  ospf router-id 0.0.0.1
  area 0.0.0.2 virtual-link  0.0.0.1
```
R2:
```
int r2-eth0
   ip address XXX
   ip opsf area 1
router ospf
   ospf router-id 0.0.0.2
   area 0.0.0.1 virtual-link  0.0.0.2
```

Observe that the virtual link is successfully established even though neither R1 nor R2 are ABRs.
Confirm that no error message is thrown about the requirement for ABR routers at both ends of the virtual link.

### Expected behavior

Throw error message in vtysh and not build the VLink.

### Actual behavior

Build the VLink without error messages.

### Additional context

_No response_

### Checklist

- [x] I have searched the open issues for this bug.
- [x] I have not included sensitive information in this report.